<app-header [headdata]="pagedata.head"></app-header>
<section class="flat-row section-iconbox">
	<div class="container" [ngClass]="{'hidden':pagedata.head.status!=='I'}">
		<form class="contactform style4 clearfix panel-body" method="post"  autocomplete="off">
			<div class="row white" style="min-height: 600px">
					<div class="col-xs-12"><hr></div>
					<div class="col-xs-12" style="margin-top:15px"><iframe id="pdfIframe" style="width:100%;min-height: 700px"></iframe></div>
			</div>
		</form>
	</div>
</section>
<app-footer></app-footer>