<app-header [headdata]="pagedata.head"></app-header>
<section class="flat-row section-iconbox">
	<div class="container" [ngClass]="{'hidden':pagedata.head.status!=='I' || noAuth }">   <!-- removed ||noAuth -->
		<div class="row">
			<div class="col-xs-12" style="z-index:1">
				<div class="title-section style3 left">
					<h1 class="title">Dealer Maintenance</h1>

				</div>
			</div>
		</div> 
		<div class="row white">

			<form  class="contactform style4 clearfix panel-body" method="post" (submit)="checkData()"
			id="addDealer"  autocomplete="off">
				<div class="col-md-12">
					<div class="alert alert-success" [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='S'}" role="alert">{{dispAlert.message}}</div>
					<div class="alert alert-danger"  [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='E'}" role="alert">{{dispAlert.message}}</div>
				</div>
				<div class="col-xs-12"><h2>DMS</h2></div>
				<div class="col-sm-6">
					<label class="flat-input inputlabel">DMS Mode
						<span class="errorspan2" [class.opqquezero]="dsmd.message===''" [class.alert-danger]="dsmd.erlevel==='D'"  [class.validating]="validating">{{dsmd.message}}</span> 
					</label>
					<span class="flat-input">
						<select *ngIf="pagedata.body" autocomplete="new-password" class="form__select" name="prgm" id="prgm" [class.validating]="validating"  (change)="onChangeDrop()" [(ngModel)]="dsmd.value">
							<option value="" >Select</option>
							<option *ngFor="let option of pagedata.body.drop" [value]="option.key" >{{option.desc}}</option>
						</select>
					</span>
				</div>
				<div class="col-sm-6" [ngClass]="{'hidden':dsmd.value!=='SE' }">
						<label class="flat-input inputlabel">DMS Type
							<span class="errorspan2" [class.opqquezero]="type.message===''" [class.alert-danger]="type.erlevel==='D'" [class.validating]="validating">{{type.message}}</span> 
						</label>		
						<div class="flat-input w100">
							<input autocomplete="new-password"  name="type" type="text" placeholder="DMS Type" [(ngModel)]="type.value" max="99" (change)="onChange()">
						</div>
					</div>
	
					<div class="col-sm-6" [ngClass]="{'hidden':dsmd.value!=='SE' }">
						<label class="flat-input inputlabel">DMS ID
							<span class="errorspan2" [class.opqquezero]="dsid.message===''" [class.alert-danger]="dsid.erlevel==='D'" [class.validating]="validating">{{dsid.message}}</span> 
						</label>
						<div class="flat-input w100">
							<input autocomplete="new-password"  name="dsid" type="text" placeholder="DMS ID" [class.required]="dsid.message !==''"  [class.validating]="validating" [(ngModel)]="dsid.value" max="99" (change)="onChange()">
						</div>
					</div>
					<div class="col-sm-6" [ngClass]="{'hidden':dsmd.value=='' }">
						<label class="flat-input inputlabel">DMS User ID
							<span class="errorspan2" [class.opqquezero]="user.message===''" [class.alert-danger]="user.erlevel==='D'" [class.validating]="validating">{{user.message}}</span> 
						</label>
						<div class="flat-input w100">
							<input autocomplete="new-password"  name="user" type="text" placeholder="DMS User ID" [class.required]="user.message !==''"  [class.validating]="validating" [(ngModel)]="user.value" max="99" (change)="onChange()">
						</div>
					</div>
					<div class="col-sm-6" [ngClass]="{'hidden':dsmd.value!=='SIS' }">
							<label class="flat-input inputlabel">DMS Password
								<span class="errorspan2" [class.opqquezero]="pass.message===''" [class.alert-danger]="pass.erlevel==='D'" [class.validating]="validating">{{pass.message}}</span> 
							</label>
							<div class="flat-input w100">
								<input autocomplete="new-password"  name="pass" type="text" placeholder="DMS Password" [class.required]="pass.message !==''"  [class.validating]="validating" [(ngModel)]="pass.value" max="99" (change)="onChange()">
							</div>
						</div>

					<div class="col-xs-12"><hr><h2>Packs</h2></div>
				<div class="col-sm-6">
					<label class="flat-input inputlabel">Access Packs</label>
					<span class="flat-input">
						<select *ngIf="pagedata.body" autocomplete="new-password" class="form__select" name="pack" id="pack" [class.validating]="validating"  [(ngModel)]="pack.value">
							<option value="Y" >Yes</option>
							<option value="N" >No</option>
						</select>
					</span>
				</div>
				<div class="col-xs-12"><hr><h2>Settings</h2></div>
				<div class="col-sm-6">
						<label class="flat-input inputlabel">&nbsp;</label>
						<span class="flat-input-checkbox">
							<div class="custcheck">
								<input [checked]="belg" type="checkbox" name="belig">
								<label (click)="belg =!belg"></label>
							</div><label class="checklabel" (click)="belg =!belg" style="font-weight: bold">Only rate best eligibility</label></span>
				</div>
				<div class="clearfix"></div>
				<div class="col-sm-6">
						<label class="flat-input inputlabel">&nbsp;</label>
						<span class="flat-input-checkbox">
							<div class="custcheck">
								<input [checked]="dbil" type="checkbox" name="dbil" [disabled]="pagedata.body && pagedata.body.lck1">
								<label (click)="defaultBill()"></label>
							</div>
							<label class="checklabel" (click)="defaultBill()" style="font-weight: bold">Allow Direct Billing
							&nbsp;<span *ngIf="pagedata.body && pagedata.body.lck1" class="infotip fa fa-question-circle" tooltip="Direct Billing Defaulted for this dealer, Cannot Uncheck!" placement="right" show-delay="200"></span>
							</label>
						</span>
				</div>
				<div class="clearfix"></div>
				<div class="col-sm-6">
						<label class="flat-input inputlabel">&nbsp;</label>
						<span class="flat-input-checkbox">
							<div class="custcheck">
								<input [checked]="nymm" type="checkbox" name="nymm">
								<label (click)="nymm=!nymm"></label>
							</div>
							<label class="checklabel" (click)="nymm=!nymm" style="font-weight: bold">Restrict Year Make Model</label>
						</span>
				</div>
				<div class="clearfix"></div>
				<div class="col-sm-6" style="padding-top: 15px;">
						<label class="flat-input inputlabel">MenuMetric Dealer ID
							<span class="errorspan2" [class.opqquezero]="mmid.message===''" [class.alert-danger]="mmid.erlevel==='D'" [class.validating]="validating">{{mmid.message}}</span> 
						</label>
						<div class="flat-input w100">
							<input autocomplete="new-password"  name="mmid" type="text" placeholder="MenuMetric Dealer ID" [class.required]="mmid.message !==''"  [class.validating]="validating" [(ngModel)]="mmid.value" maxlength="50" (change)="onChange()">
						</div>
					</div>
				<div class="clearfix"></div>
				<div class="col-sm-6" style="padding-top: 15px;">
						<label class="flat-input inputlabel">Signature Method
							<span class="errorspan2" [class.opqquezero]="sigm.message===''" [class.alert-danger]="sigm.erlevel==='D'" [class.validating]="validating">{{sigm.message}}</span> 
						</label>
						<span class="flat-input">
							<select *ngIf="pagedata.body" autocomplete="new-password" class="form__select" name="sigm" id="pack" [class.validating]="validating"  [(ngModel)]="sigm.value">
							<option value="" >Select</option>
							<option value="H" >Mouse / Touch</option>
							<option value="T" >Topaz</option> 
							<option value="E" >ePad</option> 
						</select>
					</span>
					</div>
					<div class="clearfix" *ngIf="pagedata.body && pagedata.body.hasach"></div>
					<div class="col-sm-6" *ngIf="pagedata.body && pagedata.body.hasach" style="padding-top: 15px;">
							<label class="flat-input inputlabel">ACH Merchant Account
								<span class="errorspan2" [class.opqquezero]="xtr1.message===''" [class.alert-danger]="xtr1.erlevel==='D'" [class.validating]="validating">{{xtr1.message}}</span> 
							</label>
							<span class="flat-input">
									<select *ngIf="pagedata.body" autocomplete="new-password" class="form__select" name="xtr1" id="xtr1" [class.validating]="validating"  (change)="onChange()" [(ngModel)]="xtr1.value">
										<option *ngFor="let option of pagedata.body.achdrop" [value]="option.key" >{{option.desc}}</option>
									</select>
								</span>
						</div>
				<div class="clearfix"></div>
				<div class="col-xs-12">
					<span class="flat-input">
						<button class="flat-button pull-right" name="submit" style="margin-right:10px" type="submit" title="Save">Save</button>
					</span>
				</div>



			</form>

	</div>
</div>
</section>
<app-footer></app-footer>
