<head>
    <title>{{headdata.title}}</title>                                                                                  
    <!-- Mobile Specific Metas -->                      
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">        
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">                                                                                                                  
  </head>   
<body>
  <div class="boxed">                             
  <div class="flat-header-wrap">                 
                                                                                                        
      <header id="header" class="header header-classic header-style1">                                                                 
          <div class="container">                                                                                                      
              <div class="row">      
                  <div class="col-sm-7 col-xs-7 col-md-6 col-lg-7" [ngClass]="{'col-md-6 col-lg-7':headdata.status!=='I' ,'col-md-4':headdata.status==='I'}" style="padding-right:0">
                    <div id="logo" class="logo">                     
                              <a *ngIf="headdata.status!=='I'" routerLink="/app" rel="home" class="pull-left" >                                    
                                  <img src="/assets/images/logo.png" alt="image">         
                              </a>
                              <a *ngIf="headdata.status==='I'" routerLink="/app/Home" rel="home" class="pull-left" >                                    
                                <img src="/assets/images/logo.png" alt="image">         
                            </a> 
                            <div *ngIf="headdata.status==='I' && (headdata.multi || headdata.as400)" class="loccont" (click)="showLoc()" title="{{headdata.currloc}}">
                                <div class="info-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div> 
                                <p class="plocation" *ngIf="headdata.currloc!==''">{{headdata.currloc}}</p> 
                                <p class="plocation" *ngIf="headdata.currloc ==''">Select A Location!</p> 
                            </div>                                                                                                 
                          </div><!-- /.logo -->                          
                  </div>                                                                                                  
                  <div class="col-sm-5 col-xs-5 col-md-6 col-lg-5" *ngIf="headdata.status!=='I'">                                                                                              
                      <div class="flat-wrap-header">                                                                                   
                          <div class="nav-wrap clearfix">                                                                              
                              <nav id="mainnav" class="mainnav">                                                                       
                                  <ul class="menu" style="visibility: hidden"> 
                                      <li><a href="javascript:void(0)">&nbsp;</a></li>                                                                                                   
                                  </ul><!-- /.menu -->                                                                                      
                              </nav><!-- /.mainnav -->     
                              <div class="btn-menu" [class.invisible]="headdata.status!=='I'" >           
                                  <span></span>                
                              </div><!-- //mobile menu button -->      
                          </div><!-- /.nav-wrap -->                    
                      </div>                                           
                  </div> 
                  <div class="col-sm-5 col-xs-5 col-md-8" *ngIf="headdata.status==='I'" style="padding-left:0">                                                                                              
                        <div class="flat-wrap-header">                                                                                   
                            <div class="nav-wrap clearfix">                                                                              
                                <nav id="mainnav" class="mainnav">                                                                       
                                    <ul class="menu">     
                                        <ng-container *ngFor="let main of headdata.menuOp">                                                                                                                                              
                                        <li *ngIf="headdata.currdlr !=='' && main.type=='QM'"><a href="javascript:void(0)">Quotes &amp; Contracts</a>
                                            <ul class="submenu"> 
                                                <!--Quotes-->
                                                <ng-container *ngFor="let main of headdata.menuOp">
                                                <li class="headerli" *ngIf="main.type=='Q'"><hr><div>Quotes</div></li> 
                                                <ng-container *ngIf="main.type=='Q'"> 
                                                <ng-container  *ngFor="let menu of headdata.menuOp">
                                                        <li *ngIf="menu.type=='Q1'"><a  routerLink="/app/{{menu.link}}">{{menu.desc}}</a></li>
                                                </ng-container>
                                                </ng-container>
                                                </ng-container>  
                                                <!--Contracts-->
                                                <ng-container *ngFor="let main of headdata.menuOp">
                                                <li class="headerli" *ngIf="main.type=='C'"><hr><div>Contracts</div></li> 
                                                <ng-container *ngIf="main.type=='C'">   
                                                <ng-container  *ngFor="let menu of headdata.menuOp">
                                                        <li *ngIf="menu.type=='C1'"><a  routerLink="/app/{{menu.link}}">{{menu.desc}}</a></li>
                                                </ng-container>
                                                <ng-container  *ngFor="let menu of headdata.menuOp">
                                                        <li class="headerfirst" *ngIf="menu.type=='C2'"><a  routerLink="/app/{{menu.link}}">{{menu.desc}}</a></li>
                                                </ng-container>
                                                </ng-container>
                                                </ng-container>               
                                            </ul><!-- /.submenu --> 
                                        </li> 
                                        </ng-container>
                                        <ng-container *ngFor="let main of headdata.menuOp">
                                        <li *ngIf="main.type=='M'"><a href="javascript:void(0)">Maintenance</a>
                                            <ul class="submenu">
                                                <ng-container *ngFor="let menu of headdata.menuOp">
                                                    <li *ngIf="menu.type=='M1'"><a  routerLink="/app/{{menu.link}}">{{menu.desc}}</a></li>
                                                </ng-container>
                                                <ng-container *ngFor="let menu of headdata.menuOp">
                                                        <li *ngIf="menu.type=='M2'"><a  routerLink="/app/{{menu.link}}">{{menu.desc}}</a></li>
                                                </ng-container>
                                                <li class="headerli" *ngIf="headdata.as400"><hr><div>Internal Users Only</div></li> 
                                                <ng-container *ngFor="let menu of headdata.menuOp">
                                                        <li *ngIf="menu.type=='M3'"><a  routerLink="/app/{{menu.link}}">{{menu.desc}}</a></li>
                                                </ng-container>
                                                <li><a *ngIf="headdata.as400" routerLink="/app/SalesPersons">Salesperson Maintenance</a></li>
                                                <li><a *ngIf="headdata.as400" routerLink="/app/ProgramOverride">Program Overrides</a></li>
                                                <li><a *ngIf="headdata.as400" routerLink="/app/CoverageOverride">Coverage Overrides</a></li>
                                                <li><a *ngIf="headdata.as400" [routerLink]="['/app/CovWarnings']">Coverage Warnings</a></li>
                                                <li><a *ngIf="headdata.as400" [routerLink]="['/app/Migration']">Dealer Migration</a></li>

                                            </ul><!-- /.submenu --> 
                                        </li> 
                                        </ng-container>
                                        <!--Reports-->
                                        <ng-container *ngFor="let main of headdata.menuOp">
                                                <li *ngIf="main.type=='R'"><a href="javascript:void(0)">Reports</a>
                                                <ul class="submenu">       
                                                <ng-container  *ngFor="let menu of headdata.menuOp">
                                                        <li *ngIf="menu.type=='R1'"><a  routerLink="/app/{{menu.link}}">{{menu.desc}}</a></li>
                                                </ng-container>
                                                </ul>
                                                </li>
                                        </ng-container>
                                        <li *ngIf="headdata.currdlr !==''"><a href="javascript:void(0)">Support</a>
                                            <ul class="submenu">                                                 
                                                <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'contactus'}" id="contactus">Contact Us</a></li>
                                                <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'help'}" id="helplink">Help</a></li> 
                                                <li><a href="https://www.interstatenational.com/milotraining/" target="_blank">Tutorials</a></li>                                 
                                                <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'faqs'}" id="faqs">FAQ's</a></li>
                                                <li class="headerli"><hr><div>Forms</div></li> 
                                                <li><a href="./forms/Cancellation_Form_2017.pdf" target="_blank">Cancellation</a></li> 
                                                <li><a href="./forms/Transfer_Form_2017.pdf" target="_blank">Transfer</a></li>  
                                                <li><a href="./forms/Remittance_Register_2017.pdf" target="_blank">Remittance Register</a></li>
                                                <li><a href="./forms/Certified_Remittance_Register_2012.pdf" target="_blank">Remittance Register Certified</a></li>
                                                <li><a href="./forms/Exception_Request_Form.pdf" target="_blank">Exception Request</a></li>
                                                <li><a href="./forms/Upgrade_Request_Form.pdf" target="_blank">Upgrade Request</a></li>
                                                <li><a href="./forms/star_waiver_form.pdf" target="_blank">Star Waiver Form</a></li>                    
                                            </ul><!-- /.submenu --> 
                                        </li>                                                                                                                       
                                        <li *ngIf="headdata.currdlr !==''"><a href="javascript:void(0)">Claims</a>
                                            <ul class="submenu">  
                                                <li><a href="https://secured.inds.com/Dealers/webclaimentry/indsclaim_login.asp" target="_blank">Claims Entry</a></li>
                                                <li><a [routerLink]="['/app/ClaimsForm']">Claims Form</a></li>
                                            </ul>
                                        </li>                                                                                                   
                                        <li><a href="javascript:void(0)" (click)="logOut()">Log Out</a></li>                                                                                                   
                                    </ul><!-- /.menu -->                                                                                      
                                </nav><!-- /.mainnav -->     
                                <div class="btn-menu"  [class.invisible]="headdata.status!=='I'">           
                                    <span></span>                
                                </div><!-- //mobile menu button -->      
                            </div><!-- /.nav-wrap -->                    
                        </div>                                           
                    </div>                                              
              </div>                                                   
          </div>                                                       
      </header>
  </div> 

  <div class="modal" id="logout" role="dialog">
    <input type="hidden" value="{{headdata.status}}" id="instatus">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Inactivity detected</h4>
        </div>
        <div class="modal-body">
          <p>Your session is about to expire, stay Logged In?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="logOutTimer('R')" >Ok</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="alertModal" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left" id="alertTitle"></h4>
            </div>
            <div class="modal-body">
              <p id="alertBody"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="hideAlert()" >Ok</button>
            </div>
          </div>
        </div>
      </div>

  <div class="modal" id="vrsnModal" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left" id="alertTitle">New version available!</h4>
            </div>
            <div class="modal-body">
              <p id="alertBody">Load new verion now?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" (click)="hideVersion()" >Not Now</button>
              <button type="button" class="btn btn-primary" (click)="getVersion()" >Ok</button>
            </div>
          </div>
        </div>
      </div>

  <div class="modal" id="roofTop" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Select a Location<div class="info-icon" style="margin:2px 15px 0 0">
                                    <i class="fa fa-map-marker"></i>
                                </div> </h4>
        </div>
        <div class="modal-body">
            <div class="flat-input w100 text-center" *ngIf="headdata.as400">
                <input class="pull-left" style="margin-right:15px" id="dealersearch" autocomplete="{{ran}}" name="dlr{{ran}}" [(ngModel)]="dealer" (keyup)="dealerGroups()"  type="text" placeholder="Dealer Code" maxlength="10">
                <div *ngIf="process" class="loader2 pull-left" style="margin-top:5px"></div>
            </div>
            <div class="flat-input w100 text-center" *ngIf="headdata.sales">
                <input class="pull-left" style="margin-right:15px" id="dealersearch" autocomplete="{{ran}}" name="dlr{{ran}}" [(ngModel)]="dealer" (keyup)="dealerGroupsAles()"  type="text" placeholder="Dealer Code / Name" maxlength="30">
                <div *ngIf="process" class="loader2 pull-left" style="margin-top:5px"></div>
            </div>
          <ul *ngIf="headdata.as400 && !process && headdata.loctn" style="max-height: 400px;overflow-y: scroll">
             <li *ngFor="let loc of headdata.loctn" >
                <a href="javascript:void(0)" class="lochref" (click)="changeLoc(loc)">{{loc.desc}}</a>
            </li> 
            <li *ngIf="headdata.loctn.length==0 && dealer!==''"  class=""><b>No results found!</b></li>
          </ul>
          <ul *ngIf="temploctn && !headdata.as400" style="max-height: 400px;overflow-y: scroll">
             <li *ngFor="let loc of temploctn" >
                <a href="javascript:void(0)" class="lochref" (click)="changeLoc(loc)">{{loc.desc}}</a>
            </li> 
            <li *ngIf="temploctn.length==0 && dealer!==''"  class=""><b>No results found!</b></li>
          </ul>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="hideLoc()" >Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-backdrop fade hidden"></div>