<!-- Footer -->    
<footer class="footer widget-footer">  
    <div class="container">            
            <div class="col-xs-6 reponsive-mb30">                                   
                <div class="widget widget-out-link clearfix" >                        
                    <!--<h5 class="widget-title">Our Links</h5>-->                          
                    <ul class="one-half-center">                                            
                        <li><a href="javascript:void(0)">Contact Us</a></li>  
                        <li><a routerLink="/app/Home">Home</a></li>                                   
                    </ul>                                                                            
                </div>                 
            </div>
            <div class="col-xs-6 reponsive-mb30">                                   
                <div class="widget widget-out-link clearfix" style="padding-left:30%">                           
                    <ul class="one-half-center">                                            
                        <li><a href="javascript:void(0)">Help</a></li>                                  
                    </ul>                                                                            
                </div>                 
            </div>
            <!-- /.col-md-3 -->       
        </div><!-- /.row -->          
</footer>         
<!-- Bottom -->   
<div class="bottom">       
    <div class="container">   
        <div class="row">     
            <div class="col-xs-12 text-center">  
                <div class="copyright">          
                    <p>Copyright &copy; {{this.year}} Interstate National Dealer Services, Inc. All Rights Reserved.</p> 
                </div>    
            </div>     
        </div>       
    </div><!-- /.container --> 
</div><!-- bottom -->  