<!-- Footer -->    
<footer class="footer widget-footer">  
    <div class="totop btn btn-primary hidden"  id="totop" (click)="toTop()" title="To Top" style="z-index:100;position:fixed;bottom:20px;left:10px;font-size:23px;opacity:0.4;"><span class="fa fa-angle-double-up"></span></div>
    <div class="container">            
            <div class="col-sm-3 col-xs-6 reponsive-mb30">                                   
                <div class="widget widget-out-link clearfix" >                        
                    <!--<h5 class="widget-title">Our Links</h5>-->                          
                    <ul class="one-half-center">                                            
                        <li><a routerLink="/app/Home">Home</a></li>                                   
                    </ul>                                                                            
                </div>                 
            </div>
            <div class="col-sm-3 col-xs-6 reponsive-mb30">                                   
                <div class="widget widget-out-link clearfix" >                        
                    <!--<h5 class="widget-title">Our Links</h5>-->                          
                    <ul class="one-half-center">                                            
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'contactus','title':'Contact Us'}" id="contactus">Contact Us</a></li>  
                    </ul>                                                                            
                </div>                 
            </div>
            <div class="col-sm-3 col-xs-6 reponsive-mb30">                                   
                <div class="widget widget-out-link clearfix" >                        
                    <!--<h5 class="widget-title">Our Links</h5>-->                          
                    <ul class="one-half-center">                                            
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'help','title':'Help'}" id="helplink">Help</a></li>   
                    </ul>                                                                            
                </div>                 
            </div>
            <div class="col-sm-3 col-xs-6 reponsive-mb30">                                   
                <div class="widget widget-out-link clearfix">                           
                    <ul class="one-half-center">                                            
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'faqs','title':'FAQ\'s'}" id="faqs">FAQ's</a></li>  
                        <!--Hidden Links-->                                
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'quoteslinks','title':'Help'}" id="quoteslinks" class="hidden">quoteslinks</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'whatsnew','title':'Help'}" id="whatsnew" class="hidden">What's New</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'foradministrators','title':'Help'}" id="foradministrators" class="hidden">For Administrators</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'forusers','title':'Help'}" id="forusers" class="hidden">For users</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'gettingstarted','title':'Help'}" id="gettingstarted" class="hidden">gettingstarted</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'newquote','title':'Help'}" id="newquote" class="hidden">newquote</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'savedquotes','title':'Help'}" id="savedquotes" class="hidden">savedquotes</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'unremitted','title':'Help'}" id="unremitted" class="hidden">unremitted</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'remitted','title':'Help'}" id="remitted" class="hidden">remitted</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'invoices','title':'Help'}" id="invoices" class="hidden">invoices</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'processed','title':'Help'}" id="processed" class="hidden">processed</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'maintlinks','title':'Help'}" id="maintlinks" class="hidden">maintlinks</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'globalfilters','title':'Help'}" id="globalfilters" class="hidden">globalfilters</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'authorities','title':'Help'}" id="authorities" class="hidden">authorities</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'contracttypes','title':'Help'}" id="contracttypes" class="hidden">contracttypes</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'users','title':'Help'}" id="users" class="hidden">users</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'packs','title':'Help'}" id="packs" class="hidden">packs</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'taxrate','title':'Help'}" id="taxrate" class="hidden">taxrate</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'reportlinks','title':'Help'}" id="reportlinks" class="hidden">reportlinks</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'dealerprofitstatement','title':'Help'}" id="dealerprofitstatement" class="hidden">dealerprofitstatement</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'dealerstatement','title':'Help'}" id="dealerstatement" class="hidden">dealerstatement</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'claimslist','title':'Help'}" id="claimslist" class="hidden">claimslist</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'claimsentry','title':'Help'}" id="claimsentry" class="hidden">claimsentry</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'claimsform','title':'Help'}" id="claimsform" class="hidden">claimsform</a></li>                                  
                    </ul>                                                                            
                </div>                 
            </div>
            <!-- /.col-md-3 -->       
        </div><!-- /.row -->          
</footer>         
<!-- Bottom -->   
<div class="bottom">       
    <div class="container">   
        <div class="row">     
            <div class="col-xs-12 text-center">  
                <div class="copyright">          
                    <p>Copyright &copy; {{this.year}} Interstate National Dealer Services, Inc. All Rights Reserved.</p> 
                </div>    
            </div>     
        </div>       
    </div><!-- /.container --> 
</div><!-- bottom -->  