<!-- Footer -->    
<footer class="footer widget-footer">  
    <div class="container">            
            <div class="col-sm-3 col-xs-6 reponsive-mb30">                                   
                <div class="widget widget-out-link clearfix" >                        
                    <!--<h5 class="widget-title">Our Links</h5>-->                          
                    <ul class="one-half-center">                                            
                        <li><a routerLink="/app/Home">Home</a></li>                                   
                    </ul>                                                                            
                </div>                 
            </div>
            <div class="col-sm-3 col-xs-6 reponsive-mb30">                                   
                <div class="widget widget-out-link clearfix" >                        
                    <!--<h5 class="widget-title">Our Links</h5>-->                          
                    <ul class="one-half-center">                                            
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'contactus'}" id="contactus">Contact Us</a></li>  
                    </ul>                                                                            
                </div>                 
            </div>
            <div class="col-sm-3 col-xs-6 reponsive-mb30">                                   
                <div class="widget widget-out-link clearfix" >                        
                    <!--<h5 class="widget-title">Our Links</h5>-->                          
                    <ul class="one-half-center">                                            
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'help'}" id="helplink">Help</a></li>   
                    </ul>                                                                            
                </div>                 
            </div>
            <div class="col-sm-3 col-xs-6 reponsive-mb30">                                   
                <div class="widget widget-out-link clearfix">                           
                    <ul class="one-half-center">                                            
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'faqs'}" id="faqs">FAQ's</a></li>  
                        <!--Hidden Links-->                                
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'quoteslinks'}" id="quoteslinks" class="hidden">quoteslinks</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'whatsnew'}" id="whatsnew" class="hidden">What's New</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'foradministrators'}" id="foradministrators" class="hidden">For Administrators</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'forusers'}" id="forusers" class="hidden">For users</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'gettingstarted'}" id="gettingstarted" class="hidden">gettingstarted</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'newquote'}" id="newquote" class="hidden">newquote</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'savedquotes'}" id="savedquotes" class="hidden">savedquotes</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'unremitted'}" id="unremitted" class="hidden">unremitted</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'remitted'}" id="remitted" class="hidden">remitted</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'invoices'}" id="invoices" class="hidden">invoices</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'processed'}" id="processed" class="hidden">processed</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'maintlinks'}" id="maintlinks" class="hidden">maintlinks</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'globalfilters'}" id="globalfilters" class="hidden">globalfilters</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'authorities'}" id="authorities" class="hidden">authorities</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'contracttypes'}" id="contracttypes" class="hidden">contracttypes</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'users'}" id="users" class="hidden">users</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'packs'}" id="packs" class="hidden">packs</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'taxrate'}" id="taxrate" class="hidden">taxrate</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'reportlinks'}" id="reportlinks" class="hidden">reportlinks</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'dealerprofitstatement'}" id="dealerprofitstatement" class="hidden">dealerprofitstatement</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'dealerstatement'}" id="dealerstatement" class="hidden">dealerstatement</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'claimslist'}" id="claimslist" class="hidden">claimslist</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'claimsentry'}" id="claimsentry" class="hidden">claimsentry</a></li>                                  
                        <li><a [routerLink]="['/app/StaticPage']"  [queryParams]="{pageid: 'claimsform'}" id="claimsform" class="hidden">claimsform</a></li>                                  
                    </ul>                                                                            
                </div>                 
            </div>
            <!-- /.col-md-3 -->       
        </div><!-- /.row -->          
</footer>         
<!-- Bottom -->   
<div class="bottom">       
    <div class="container">   
        <div class="row">     
            <div class="col-xs-12 text-center">  
                <div class="copyright">          
                    <p>Copyright &copy; {{this.year}} Interstate National Dealer Services, Inc. All Rights Reserved.</p> 
                </div>    
            </div>     
        </div>       
    </div><!-- /.container --> 
</div><!-- bottom -->  