<app-header [headdata]="pagedata.head"></app-header>
<section class="flat-row section-iconbox">
    <div class="container" [ngClass]="{'hidden':pagedata.head.status!=='I' ||noAuth}">
        <div class="row">
            <div class="col-xs-12" style="z-index:1">
                <div class="title-section style3 left">
                    <h1 class="title">Make a Payment</h1>
                </div>
            </div>
            <div class="w100">
                    <div class="white pull-left w100 stepsblock">
                            <ul class="nav nav-wizard" id="quotesteps">
                                <li class="active" ><a href="javascript:void(0)">Choose a payment method</a></li>
                                <li [ngClass]="{'active':step>1}"><a [ngClass]="{'disabledstep':step<2}" href="javascript:void(0)">Review your information</a></li>
                                <li [ngClass]="{'active':step>2}"><a [ngClass]="{'disabledstep':step<3}" href="javascript:void(0)">Payment confirmation</a></li>
                            </ul>
                            </div>
            </div>
        </div> 
        <div class="row white">

            <form  class="contactform style4 clearfix panel-body" id="uplform" method="post" (submit)="checkData()" autocomplete="off">
               
                <div class="col-xs-6">
                    <h4 class="text-left"><span style="color:grey">Dealer </span>{{pagedata.body.name}}</h4>
                </div>
                <div class="col-xs-6">
                    <h4 class="text-right"><span style="color:grey">Producer#</span> {{pagedata.body.code}}</h4>
                </div>
                <div class="col-xs-12" *ngIf="paymode==''"><h3>Invoices to pay</h3></div>
                <div class="col-sm-6"  *ngIf="paymode==''">
                        <table class="table  table-striped">
                                <tr>
                                    <th><b>Invoice Number</b></th>
                                    <th><b>Total Cost</b></th>
                                </tr>
                                <tr *ngFor="let row of pagedata.body.invo">
                                    <th>{{row.ivno}}</th>
                                    <th>{{row.amnt| currency}}</th>
                                </tr>
                                <tr>
                                    <th><b>Grand Total:</b></th>
                                    <th>{{pagedata.body.totl |currency}}</th>
                                </tr>
                        </table>

                        <div *ngIf="changeamount || comm.value !==''">
                            <hr>
                                <label class="flat-input inputlabel"><span class="req" *ngIf="step==1">*&nbsp;</span>Comments:
                                   &nbsp;&nbsp;<span class="errorspan2" [class.opqquezero]="comm.message===''" [class.alert-danger]="comm.erlevel==='D'" [class.validating]="validating">{{comm.message}}</span> 
                               </label>
                               <div class="flat-input w100">
                                 <textarea  style="max-height:100px;margin-bottom: 0;color:black;" maxlength="256" [class.validating]="validating" name="comm{{ran}}"  [(ngModel)]="comm.value"  [disabled]="step > 1" [class.required]="comm.message !==''" placeholder="Comments"  (change)="onChange()"></textarea>
                               </div>
                       </div>
                </div>
                <div class="col-sm-6" *ngIf="paymode=='P'">
                    <label class="flat-input inputlabel"><span class="req" *ngIf="step==1">*&nbsp;</span>Type of Payment:
                        <span class="errorspan2" [class.opqquezero]="ptyp.message===''" [class.alert-danger]="ptyp.erlevel==='D'"  [class.validating]="validating">{{ptyp.message}}</span> 
                    </label>
                    <span class="flat-input">
                        <select (change)="typchange()" class="form__select" name="ptyp{{ran}}"  [class.validating]="validating"  [(ngModel)]="ptyp.value" [disabled]="step > 1" >
                            <option value="" >Select</option>
                            <option value="E" >Exception</option>
                            <option value="S" >Statement Balance</option>
                            <option value="U" >Upgrade</option>
                            <option value="O" >Other</option>
                        </select>
                    </span>
                    <div *ngIf="paymode=='P' && ptyp.value == 'S'">
                            <label class="flat-input inputlabel"><span class="req" *ngIf="step==1">*&nbsp;</span>Statement Date Reference:
                                &nbsp;&nbsp;<span class="errorspan2" [class.opqquezero]="iden.message===''" [class.alert-danger]="iden.erlevel==='D'" [class.validating]="validating">{{iden.message}}</span> 
                            </label>
                            <div class="flat-input w100">
                              <input autocomplete="new-password{{ran}}"  date-format="mm/dd/yyyy"   [class.validating]="validating" name="iden{{ran}}" type="date" [(ngModel)]="iden.value"  [disabled]="step > 1" [class.required]="iden.message !==''" placeholder="Date Reference"  (change)="onChange()">
                            </div>
                    </div>
                    <div *ngIf="paymode=='P' && ptyp.value == 'E'">
                            <label class="flat-input inputlabel"><span class="req" *ngIf="step==1">*&nbsp;</span>Exception Unique Identifier:
                                &nbsp;&nbsp;<span class="errorspan2" [class.opqquezero]="iden.message===''" [class.alert-danger]="iden.erlevel==='D'" [class.validating]="validating">{{iden.message}}</span> 
                            </label>
                            <div class="flat-input w100">
                              <input autocomplete="new-password{{ran}}"  maxlength="60" [class.validating]="validating" name="iden{{ran}}" type="text" [(ngModel)]="iden.value"  [disabled]="step > 1" [class.required]="iden.message !==''" placeholder="Unique Identifier"  (change)="onChange()">
                            </div>
                    </div>
                    <div *ngIf="paymode=='P' && ptyp.value == 'U'">
                            <label class="flat-input inputlabel"><span class="req" *ngIf="step==1">*&nbsp;</span>Upgrade Unique Identifier:
                                &nbsp;&nbsp;<span class="errorspan2" [class.opqquezero]="iden.message===''" [class.alert-danger]="iden.erlevel==='D'" [class.validating]="validating">{{iden.message}}</span> 
                            </label>
                            <div class="flat-input w100">
                              <input autocomplete="new-password{{ran}}" maxlength="60" [class.validating]="validating" name="iden{{ran}}" type="text" [(ngModel)]="iden.value"  [disabled]="step > 1" [class.required]="iden.message !==''" placeholder="Unique Identifier"  (change)="onChange()">
                            </div>
                    </div>
                    <div class="clearfix"></div>
                    <div *ngIf="paymode=='P' || changeamount">
                             <label class="flat-input inputlabel"><span class="req" *ngIf="step==1 && ptyp.value =='O'">*&nbsp;</span>Comments:
                                &nbsp;&nbsp;<span class="errorspan2" [class.opqquezero]="comm.message===''" [class.alert-danger]="comm.erlevel==='D'" [class.validating]="validating">{{comm.message}}</span> 
                            </label>
                            <div class="flat-input w100">
                              <textarea style="max-height:100px;margin-bottom: 0;color:black;" maxlength="256" [class.validating]="validating" name="comm{{ran}}"  [(ngModel)]="comm.value"  [disabled]="step > 1" [class.required]="comm.message !==''" placeholder="Comments"  (change)="onChange()"></textarea>
                            </div>
                    </div>
                </div>
                <div class="col-sm-6" *ngIf="paymode=='P' && ptyp.value !=='' && ptyp.value !=='S' || this.changeamount || imgtrgt!==''">
                        <p  class="errorspan2 text-right w100" style="display: block" [class.opqquezero]="umsg===''" [class.alert-danger]="umsg !==''" [class.validating]="validating">{{umsg}}&nbsp;</p>
                        <label class="drop_target" [class.disabled]="step > 1">
                                <input id="inputFile" [disabled]="step > 1" type="file" name="SIFILE" [(ngModel)]="inpfile" (change)="onFileChange($event)"/>
                                <div class="settings_actions vertical">
                                <label for="inputFile">
                                <i class="fa fa-cloud-upload"></i>&nbsp;&nbsp;
                                <b> Select PDF / Image To Upload <span class="req" *ngIf="step==1 && (ptyp.value == 'E' || ptyp.value == 'U')">*&nbsp;</span></b></label>
                                <div id="uploadbtns"> <a href="javascript:uploadimages()">Upload</a></div>
                                <div *ngIf="upfile && upfile!==''">
                                    <hr>
                                    <div class="upfl">
                                            <img *ngIf="imgtrgt!==''" src="{{imgtrgt}}" class="upimg">    
                                        {{upfile}}
                                        <div class="clearfix"></div>
                                 </div>
                                        
                                </div>
                                
                              </div> 
                              </label>
                            <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                
                <div class="col-xs-12"><hr>
                    <div class="alert alert-info" role="alert" *ngIf="step==2" id="alertschedule">
                            Review Your information and schedule payment
                          </div>
                          <div class="alert alert-success" [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='S'}" role="alert">{{dispAlert.message}}</div>
                          <div class="alert alert-danger"  [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='E'}" role="alert">{{dispAlert.message}}</div>
                </div>
                <div class="col-sm-6" style="margin-top:10px;">
                        <div class="well well-sm" *ngIf="paymode==''">
                        <div class="col-xs-7" style="padding: 0">
                                <label class="flat-input inputlabel"><span class="req" *ngIf="step < 2">*</span>Amount To Pay:&nbsp;
                                    &nbsp;&nbsp;<span class="errorspan2" [class.opqquezero]="totl.message===''" [class.alert-danger]="totl.erlevel==='D'" [class.validating]="validating">{{totl.message}}</span> 
                                    <input autocomplete="new-password{{ran}}" id="topay" [disabled]="!changeamount" [class.validating]="validating" name="ttl{{ran}}" type="text" [disabled]="step > 1" [(ngModel)]="totl.value"  [class.required]="totl.message !==''" placeholder="$"  (change)="onChange()">  
                                </label>
                        </div>
                        <div class="col-xs-5">
                                <label class="flat-input inputlabel">&nbsp;</label>
                                <button name="submit"  *ngIf="step == 1" type="button" (click)="changeamnt()" class="btn-danger btn-block" title="Cancel">CHANGE AMOUNT</button>  

                        </div>
                        <div class="clearfix"></div>
                        </div>
                        <div class="well well-sm" *ngIf="paymode=='P'">
                                <label class="flat-input inputlabel"><span class="req" *ngIf="step < 2">*</span>Amount To Pay:&nbsp;
                                    &nbsp;&nbsp;<span class="errorspan2" [class.opqquezero]="totl.message===''" [class.alert-danger]="totl.erlevel==='D'" [class.validating]="validating">{{totl.message}}</span> 
                                    <input autocomplete="new-password{{ran}}"  [class.validating]="validating" name="ttl{{ran}}" type="text" [disabled]="step > 1" [(ngModel)]="totl.value"  [class.required]="totl.message !==''" placeholder="$"  (change)="onChange()">  
                                </label>
                        </div>
                       
                        <label class="flat-input inputlabel"><span class="req" *ngIf="step==1">*&nbsp;</span>Payment Method:
                            <span class="errorspan2" [class.opqquezero]="method.message===''" [class.alert-danger]="method.erlevel==='D'"  [class.validating]="validating">{{method.message}}</span> 
                        <a href="javascript:void(0)" *ngIf="canadd" (click)="method.value ='ADDNEW';addnew();" [class.hidden]="method.value=='ADDNEW' || step > 1" class="pull-right" style="color:#5a8ce6">Add New</a>
                        </label>
                        <span class="flat-input">
                            <select *ngIf="pagedata.body.paymnt" (change)="addnew()" [ngClass]="{'usractv':method.value=='ADDNEW'}" class="form__select" name="method{{ran}}"  [class.validating]="validating"  [(ngModel)]="method.value" [disabled]="step > 1" >
                                <option value="" >Select</option>
                                <option  *ngIf="canadd" value="ADDNEW" >Add New Pay Method</option>
                                <ng-container *ngFor="let option of pagedata.body.paymnt">
                                    <option  [value]="option.prof">{{option.nick}} - ****{{option.four}}</option>
                                </ng-container>
                            </select>
                        </span>
                        <label class="flat-input inputlabel"><span class="req" *ngIf="step==1">*&nbsp;</span>Payment Date:
                            &nbsp;&nbsp;<span class="errorspan2" [class.opqquezero]="pdate.message===''" [class.alert-danger]="pdate.erlevel==='D'" [class.validating]="validating">{{pdate.message}}</span> 
                        </label>
                        <div class="flat-input w100">
                        
                          <input autocomplete="new-password{{ran}}" id="pdate" date-format="mm/dd/yyyy"   [class.validating]="validating" name="pdate{{ran}}" type="date" [(ngModel)]="pdate.value"  [disabled]="step > 1" [class.required]="pdate.message !==''" placeholder="Payment Date"  (change)="onChange()">
                        </div>
                        <p class="pull-left"><span class="req">*&nbsp;</span>Denotes required fields.</p>
                        <div class="clearfix"></div>
                        <div class="col-xs-4" style="padding:0;" *ngIf="step < 3">
                                <span class="flat-input" *ngIf="method.value !=='ADDNEW'">
                                <button name="submit"  *ngIf="step == 2" type="button" (click)="step=1"  style="margin:10px 0"  class="btn-warning btn-block" title="Cancel">Cancel</button>  
                                <button name="submit"  *ngIf="step == 1 && this.paymode==''" type="button" (click)="cancelACH()"  style="margin:10px 0"  class="btn-warning btn-block" title="Cancel"><span class="fa fa-backward"></span>&nbsp;&nbsp;Back</button>  
                                </span>
                            </div>
                        <div class="col-xs-8" *ngIf="step < 3" style="padding-right:0;">
                        <span class="flat-input" *ngIf="method.value !=='ADDNEW'">
                                <button *ngIf="step< 2" name="submit" type="submit"  class="flat-button btn-block" style="margin:10px 0" title="Proceed">
                                    Proceed&nbsp;<span class="fa fa-forward"></span>
                                </button>
                                <button *ngIf="step> 1" name="submit" type="submit"  class="flat-button btn-block" style="margin:10px 0" title="Schedule Payment">
                                    Schedule Payment
                                </button>
                            </span>
                        </div>
                        <div class="col-xs-12" style="padding:0" *ngIf="step == 3 && method.value !=='ADDNEW'">
                                <span class="flat-input" >
                                        <button name="submit"type="submit"  class="btn-info btn-block" style="margin:10px 0" title="Done">Done&nbsp;&nbsp;&nbsp;<span class="fa fa-check"></span></button>
                                        
                                </span> 
                            </div>
                    </div>
                    <div class="col-sm-6" *ngIf="method.value =='ADDNEW'"  style="margin-top:30px;">  
                        <h4 class="pull-left">Add New Payment Method </h4>
                        
                        <div class="clearfix"></div>
                        <label class="flat-input inputlabel"><span class="req" *ngIf="step==1">*&nbsp;</span>Save This Payment Method</label>
						<span class="flat-input">
							<select  class="form__select" name="type{{ran}}" [(ngModel)]="save.value" [class.required]="save.message !==''"  [class.validating]="validating"  [disabled]="step > 1" (change)="onChange()">
								<option value="Y">Yes</option>
								<option value="N">No</option>
							</select>
                        </span>
                        
                        
                        
                        <label *ngIf="save.value=='Y'" class="flat-input inputlabel"><span class="req" *ngIf="step==1">*&nbsp;</span>Account Nickname
                            <span class="errorspan2" [class.opqquezero]="nick.message===''" [class.alert-danger]="nick.erlevel==='D'" [class.validating]="validating">{{nick.message}}</span>
                        </label>
                        <div class="flat-input w100" *ngIf="save.value=='Y'">
                            <input autocomplete="new-password{{ran}}"   name="nick{{ran}}" type="text" placeholder="Account Nickname" [class.required]="nick.message !==''" [class.validating]="validating" [(ngModel)]="nick.value"  [disabled]="step > 1" maxlength="60" (change)="onChange()">
                        </div>
                        <label class="flat-input inputlabel"><span class="req" *ngIf="step==1">*&nbsp;</span>Account Type
							<span class="errorspan2" [class.opqquezero]="type.message===''" [class.alert-danger]="type.erlevel==='D'"  [class.validating]="validating">{{type.message}}</span> 
						</label>
						<span class="flat-input">
							<select   class="form__select" name="typc{{ran}}" [(ngModel)]="type.value" [class.required]="type.message !==''"  [class.validating]="validating"   [disabled]="step > 1" (change)="onChange()">
								<option value="">Select</option>
								<option value="C">Checking</option>
								<option value="S">Saving</option>
							</select>
                        </span>
                        <label class="flat-input inputlabel"><span class="req" *ngIf="step==1">*&nbsp;</span>Account Holder's Name
                            <span class="errorspan2" [class.opqquezero]="name.message===''" [class.alert-danger]="name.erlevel==='D'" [class.validating]="validating">{{name.message}}</span>
                        </label>
                        <div class="flat-input w100">
                            <input autocomplete="new-password{{ran}}"  name="name{{ran}}" type="text" placeholder="Account Holder's Name" [class.required]="name.message !==''" [class.validating]="validating" [(ngModel)]="name.value"  [disabled]="step > 1" maxlength="60" (change)="onChange()">
                        </div>
                        <label class="flat-input inputlabel"><span class="req" *ngIf="step==1">*&nbsp;</span>Routing Number
                            <span class="errorspan2" [class.opqquezero]="rout.message===''" [class.alert-danger]="rout.erlevel==='D'" [class.validating]="validating">{{rout.message}}</span>
                        </label>
                        <div class="flat-input w100">
                            <input autocomplete="new-password{{ran}}"  name="rout{{ran}}" type="text" placeholder="Routing Number" [class.required]="rout.message !==''" [class.validating]="validating" [(ngModel)]="rout.value"  [disabled]="step > 1" maxlength="12" (change)="onChange()">
                        </div>
                        
                        <label class="flat-input inputlabel"><span class="req" *ngIf="step==1">*&nbsp;</span>Account Number
                            <span class="errorspan2" [class.opqquezero]="acno.message===''" [class.alert-danger]="acno.erlevel==='D'" [class.validating]="validating">{{acno.message}}</span>
                        </label>
                        <div class="flat-input w100">
                            <input autocomplete="new-password{{ran}}"   name="acno{{ran}}" type="text" placeholder="Account Number" [class.required]="acno.message !==''" [class.validating]="validating" [(ngModel)]="acno.value"  [disabled]="step > 1" maxlength="60" (change)="onChange()">
                        </div>
                        <label class="flat-input inputlabel"><span class="req" *ngIf="step==1">*&nbsp;</span>Confirm Account Number
                            <span class="errorspan2" [class.opqquezero]="acnc.message===''" [class.alert-danger]="acnc.erlevel==='D'" [class.validating]="validating">{{acnc.message}}</span>
                        </label>
                        <div class="flat-input w100">
                            <input autocomplete="new-password{{ran}}"   name="acnc{{ran}}" type="text" placeholder="Confirm Account Number" [class.required]="acnc.message !==''" [class.validating]="validating" [(ngModel)]="acnc.value"  [disabled]="step > 1"  maxlength="60" (change)="onChange()">
                        </div>
                        <div class="col-xs-4" style="padding:0;" *ngIf="step < 3">
                                <button name="submit"   type="button" style="margin:10px 0" (click)="cancel()" class="btn-warning btn-block" title="Cancel">Cancel</button>  
                        </div>
                        <div class="col-xs-8" style="padding-right:0;" *ngIf="step < 3">
                            <span class="flat-input" >
                                    <button name="submit" *ngIf="step< 2" type="submit"  class="flat-button btn-block" style="margin:10px 0" title="Proceed">Proceed&nbsp;<span class="fa fa-forward"></span></button>
                                    <button *ngIf="step== 2" name="submit" type="submit"  class="flat-button btn-block" style="margin:10px 0" title="Schedule Payment">
                                            Schedule Payment
                                    </button>
                            </span> 
                        </div>
                        <div class="col-xs-12" style="padding:0" *ngIf="step == 3">
                            <span class="flat-input" >
                                    <button name="submit"type="submit"  class="btn-info btn-block" style="margin:10px 0" title="Done">Done&nbsp;&nbsp;&nbsp;<span class="fa fa-check"></span></button>
                                    
                            </span> 
                        </div>
                    </div>

                
            
                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <p>By providing your banking account information, you authorize us to electronically debit your bank account for the amount labeled "Amount To Pay" above.</p>
                </div>
                
            </form>
            
        </div>
    </div>
</section>
<app-footer></app-footer>
