<app-header [headdata]="pagedata.head"></app-header>
<section class="flat-row section-iconbox">
    <div class="container" [ngClass]="{'hidden':pagedata.head.status!=='I'}">
        <div class="row">
            <div class="col-xs-12" style="z-index:1">
                <div class="title-section style3 left">
                    <h1 class="title">Create New Quote & Contract</h1>
                </div>
                
            </div>
            <div class="white pull-left w100 stepsblock">
              <ul class="nav nav-wizard" id="quotesteps">
                  <li class="active"><a href="javascript:void(0)">Vehicle</a></li>
                  <li><a class="disabledstep" href="javascript:void(0)">Product</a></li>
                  <li><a class="disabledstep" href="javascript:void(0)">Quote</a></li>
              </ul>
              </div>
        </div>
        <div class="row white">
                <form   class="contactform style4 clearfix panel-body" method="post" (submit)="checkStep1()" novalidate  autocomplete="off">
                  <div class="col-md-12">
                      <div class="alert alert-success" role="alert" 
                      [ngClass]="{'alert-success':dispAlert.status==='S',
                                  'alert-danger':dispAlert.status==='E',
                                  'hidden':dispAlert.message===''}">{{dispAlert.message}}</div>
                      
                  </div>
                    <div class="col-md-6">
                        <h2>Select A Product&nbsp;&nbsp;<span class="errorspan2"  [class.alert-danger]="product.erlevel==='D'" [class.validating]="validating">{{product.message}}</span></h2>
                        
                        <span *ngFor="let plan of pagedata.body.pln.plans;let i = index">
                                <hr style="margin:5px" *ngIf="plan.dlob && i>0">
                                <h6 style="margin-top:15px;margin-bottom:5px;font-style:italic;" *ngIf="plan.dlob">{{plan.lobd}}</h6>
                        <span class="flat-input-checkbox" *ngIf="plan.desc!=='' && (pagedata.body.condyn || pagedata.body.condprg.indexOf(plan.prg)<0)">
                            
                            <div class="custcheck">
                               <input [disabled]="(plan.plnt!==pagedata.body.type && pagedata.body.type!=='')
                                || (pagedata.body.condyn  && pagedata.body.condprg.indexOf(plan.prg)>=0)" 
                                 [checked]="plan.check" 
                                value="{{plan.prg+plan.ratc}}" id="chk{{plan.prg+plan.ratc}}" type="checkbox"  (change)="addplan($event,plan)">
                                <label for="chk{{plan.prg+plan.ratc}}"></label><p style="float:left">
                            </div><label class="checklabel" style="font-weight: bold;display:inline;" for="chk{{plan.prg+plan.ratc}}"><span >{{plan.desc | uppercase}}</span></label>
                        </span>
                        </span>

                  </div>
                  <div class="col-md-6">
                      
                      <div [ngClass]="{'hidden':pagedata.body.dispdms!=='Y'}">
                        <h3 style="margin-bottom:0px">DMS RECORD # &nbsp;&nbsp; </h3>
                        <div class="col-xs-7" style="padding-left:0">
                            <span class="flat-input">
                                <input autocomplete="new-password{{ran}}" name="dlno{{ran}}" (focus)="dmsOn()" (blur)="dmsOff()"   [(ngModel)]="dlno.value" type="text" placeholder="DMS RECORD #">   
                            </span>
                        </div>
                        <div class="col-xs-5" style="padding-left:0">
                            <a href="javascript:void(0)" class="btn btn-primary" style="min-width:100px;padding-top:8px;height:40px;" (click)="importDms()">IMPORT</a>
                        </div>
                      </div>

                        <div class="clearfix"></div>
                        <h2>Vehicle Information&nbsp;&nbsp;<span class="errorspan2"  [class.alert-danger]="year.erlevel==='D'" [class.validating]="validating">{{year.message}}</span></h2>
                        <span class="flat-input" *ngIf="pagedata.body.nymm !=='Y' || pagedata.body.dtype!=='A' || pagedata.body.type ==='R'">
                          <select class="form__select" id="yearsel" name="year{{ran}}" [(ngModel)]="year.value" [class.required]="year.message!==''"  [class.validating]="validating"  (change)="yearChange()">
                            <option value="">Select Year</option>
                            <option *ngFor="let yeard of years" [value]="yeard" [attr.selected]="yeard==year.value ? true : null">{{yeard}}</option>
                          </select>
                        </span>
                        <div *ngIf="pagedata.body.nymm !=='Y'">
                        <span class="flat-input" *ngIf="pagedata.body.type==='A' || (pagedata.body.type==='' && pagedata.body.dtype==='A')">
                          <select class="form__select" id="makesel" name="make{{ran}}" [(ngModel)]="make.value" [class.required]="make.message !==''"  [class.validating]="validating"  (change)="makeChange()" [disabled]="year.value===''">
                            <option value="">Select Make</option>
                            <option *ngFor="let maked of pagedata.body.makes" [value]="maked.make" [attr.selected]="maked.make==make.value ? true : null">{{maked.desc}}</option>
                          </select>
                        </span>
                        <span class="flat-input" *ngIf="pagedata.body.type==='A' || (pagedata.body.type==='' && pagedata.body.dtype==='A')">
                          <select class="form__select" id="modelsel" name="model{{ran}}" [(ngModel)]="model.value" [class.required]="model.message !==''"  [class.validating]="validating"  (change)="onChange()" [disabled]="year.value===''||make.value===''">
                            <option value="">Select Model</option>
                            <option *ngFor="let modeld of pagedata.body.models" [value]="modeld.model" [attr.selected]="modeld.model==model.value ? true : null">{{modeld.desc}}</option>
                          </select>
                        </span>
                      </div>
                        <span class="flat-input" *ngIf="pagedata.body.type==='R' ||
                                                        (pagedata.body.type==='' && pagedata.body.dtype==='R')">
                            <input autocomplete="new-password{{ran}}" name="make{{ran}}" id="make" type="text" placeholder="Make" maxlength="17"  [(ngModel)]="make.value" [class.required]="make.message !==''"  [class.validating]="validating" (change)="onChange()">
                        </span>
                        <span class="flat-input" *ngIf="pagedata.body.type==='R' ||
                                                        (pagedata.body.type==='' && pagedata.body.dtype==='R')">
                                <input autocomplete="new-password{{ran}}" name="model{{ran}}" id="model" type="text" placeholder="Model" maxlength="17"  [(ngModel)]="model.value" [class.required]="model.message !==''"  [class.validating]="validating" (change)="onChange()">
                            </span>
                        
                        <div class="text-center" *ngIf="pagedata.body.type==='A' || (pagedata.body.type==='' && pagedata.body.dtype==='A')"><h4 *ngIf="pagedata.body.nymm !=='Y'" style="margin-bottom: 0">OR</h4></div>
                        <div class="text-center" *ngIf="pagedata.body.type==='R' || (pagedata.body.type==='' && pagedata.body.dtype==='R')">
                          <hr style="margin:0 0 15px 0">
                          <div class="col-sm-3 text-left" *ngIf="!pagedata.body.xrvm">
                              <div class="custradio"><input name="rvtype" id="rvtype1" value="M" type="radio"  (change)="rvchange()" [(ngModel)]="rvtype" ><label for="rvtype1"></label></div>
                              <label class="checklabel" style="font-weight: bold;" for="rvtype1">Motorhome</label> 
                          </div>
                          <div class="col-sm-5 text-left" *ngIf="!pagedata.body.xrvt">
                              <div class="custradio"><input name="rvtype" id="rvtype2" value="T" type="radio"  (change)="rvchange()" [(ngModel)]="rvtype"><label for="rvtype2"></label></div>
                              <label class="checklabel" style="font-weight: bold;" for="rvtype2">Travel Trailer</label>
                          </div>
                          <div class="col-sm-4 text-left" *ngIf="!pagedata.body.xrvp">
                              <div class="custradio"><input name="rvtype" id="rvtype3" value="P" type="radio"  (change)="rvchange()" [(ngModel)]="rvtype"><label for="rvtype3"></label></div>
                              <label class="checklabel" style="font-weight: bold;" for="rvtype3">Pop-Up</label>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        
                        <div><span class="errorspan2 alert-danger"  [class.hidden]="vin.erlevel==='S'" [class.validating]="vin.erlevel=='D' || validating">{{vin.message}}</span>&nbsp;
                            <span class="errorspan2 alert-success"  [class.hidden]="vin.erlevel==='D'" [class.validating]="vin.erlevel=='S'">{{vin.message}}</span>&nbsp;</div>
                        <span class="flat-input">
                            <input autocomplete="new-password{{ran}}" name="vAin{{ran}}" id="vAin" type="text" placeholder="VIN" maxlength="17" (keyup)="vinCheck('S')" [(ngModel)]="vin.value" [class.required]="vin.message !=='' && vin.erlevel=='D'"  [class.validating]="validating" (change)="vinCheck('S');onChange()">
                        </span>
                        <div class="text-center"><hr style="margin:10px 10px 20px 10px"></div>
                        <label class="flat-input inputlabel" *ngIf="neednew"><span class="req">*&nbsp;</span>Eligibility    
                            <span class="errorspan2" [class.opqquezero]="dnup.message===''" [class.alert-danger]="dnup.erlevel==='D'" [class.validating]="validating" (change)="onChange()">{{dnup.message}}</span> 
                        </label>
                        <span class="flat-input" *ngIf="neednew">
                          <select class="form__select" id="dnup" name="dnup{{ran}}" [(ngModel)]="dnup.value" [class.required]="dnup.message!==''"  [class.validating]="validating">
                            <option value="">Select</option>
                            <option value="N">New</option>
                            <option value="U">Used</option>
                          </select>
                        </span>
                        <!--Benefit Amount-->
                        <div *ngIf="arrlob.indexOf('PIPETC')>-1">
                        <label class="flat-input inputlabel" >
                          <span class="req">*&nbsp;</span>ETCH Benefit Amount    
                        </label>
                        <span class="flat-input">
                          <div class="col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                              <div class="custradio"><input name="benf" id="benf0" value="2500" type="radio"  [(ngModel)]="benf" >
                                <label for="benf0"></label></div>
                              <label class="checklabel" style="font-weight: bold;" for="benf0">$2,500</label> 
                          </div>
                          <div class="col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                              <div class="custradio"><input name="benf" id="benf1" value="5000" type="radio"  [(ngModel)]="benf" >
                                <label for="benf1"></label></div>
                              <label class="checklabel" style="font-weight: bold;" for="benf1">$5,000</label> 
                          </div>
                          
                        </span>
                        </div>
                        <div *ngIf="arrlob.indexOf('PIPLSE')>-1">
                            <label class="flat-input inputlabel" ><span class="req">*&nbsp;</span>Lease Coverage</label>
                              <span class="flat-input">
                                <div class="col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                                    <div class="custradio"><input name="plcov" id="plcov0"  value="" type="radio"  [(ngModel)]="plcov" >
                                      <label for="plcov0"></label></div>
                                    <label class="checklabel" style="font-weight: bold;" for="plcov0">Standard</label> 
                                </div>
                                <div class="col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                                    <div class="custradio"><input name="plcov" id="plcov1"  value="OPN" type="radio"  [(ngModel)]="plcov" >
                                      <label for="plcov1"></label></div>
                                    <label class="checklabel" style="font-weight: bold;" for="plcov1">Open Term</label> 
                                </div>
                                
                              </span>
                            <label class="flat-input inputlabel" ><span class="req">*&nbsp;</span>Lease Maximum Single Event Limit</label>
                              <span class="flat-input">
                                <div class="col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                                    <div class="custradio"><input name="plmax" id="plmax0" value="" type="radio"  [(ngModel)]="plmax" >
                                      <label for="plmax0"></label></div>
                                    <label class="checklabel" style="font-weight: bold;" for="plmax0">$500</label> 
                                </div>
                                <div class="col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                                    <div class="custradio"><input name="plmax" id="plmax1" value="MAX" type="radio"  [(ngModel)]="plmax" >
                                      <label for="plmax1"></label></div>
                                    <label class="checklabel" style="font-weight: bold;" for="plmax1">$1000</label> 
                                </div>
                                
                              </span>
                              <label class="flat-input inputlabel" ><span class="req">*&nbsp;</span>Lease Certified Pre-Owned Vehicle</label>
                              <span class="flat-input">
                                <div class="col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                                    <div class="custradio"><input name="plcrt" id="plcrt0" value="" type="radio"  [(ngModel)]="plcrt" >
                                      <label for="plcrt0"></label></div>
                                    <label class="checklabel" style="font-weight: bold;" for="plcrt0">No</label> 
                                </div>
                                <div class="col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                                    <div class="custradio"><input name="plcrt" id="plcrt1" value="CRT" type="radio"  [(ngModel)]="plcrt" >
                                      <label for="plcrt1"></label></div>
                                    <label class="checklabel" style="font-weight: bold;" for="plcrt1">Yes</label> 
                                </div>
                                
                              </span>
                        </div>
                        <label class="flat-input inputlabel" [class.hidden]="rvtype!=='M' && rvmode"><span class="req">*&nbsp;</span>Mileage
                            <span class="errorspan2" [class.opqquezero]="miles.message===''" [class.alert-danger]="miles.erlevel==='D'" [class.validating]="validating" (change)="onChange()">{{miles.message}}</span> 
                        </label>
                        <span class="flat-input" [class.hidden]="rvtype!=='M' && rvmode">
                            <input autocomplete="new-password{{ran}}" name="mileage{{ran}}" id="mileage" type="number" placeholder="Mileage" [(ngModel)]="miles.value" [class.required]="miles.message !==''"  [class.validating]="validating"  (change)="onChange()">
                        </span>
                        <label class="flat-input inputlabel" [class.hidden]="rvtype!=='M' || !rvmode"><span class="req">*&nbsp;</span>Engine Type
                            <span class="errorspan2" [class.opqquezero]="engtyp.message===''" [class.alert-danger]="engtyp.erlevel==='D'" [class.validating]="validating" (change)="onChange()">{{engtyp.message}}</span> 
                        </label>
                        <span class="flat-input" [class.hidden]="rvtype!=='M' || !rvmode" >
                        <select class="form__select" name="engtyp" id="engtyp" [(ngModel)]="engtyp.value" [class.required]="engtyp.message !==''"  (change)="rvchange2()" [class.validating]="validating"  (change)="onChange()">
                          <option value="" [attr.selected]="engtyp.value=='' ? true : null">Select</option>
                          <option *ngFor="let eng of pagedata.body.engine" [value]="eng.key" [attr.selected]="engtyp.value==eng.key ? true : null">{{eng.desc}}</option>
                        </select>
                        </span>
                        <label class="flat-input inputlabel" [class.hidden]="!rvmode || (engtyp.value =='' && rvtype=='M')"><span class="req">*&nbsp;</span>Manufacturer's Warranty
                          <span class="errorspan2" [class.opqquezero]="mfgw.message===''" id="mfgw" [class.alert-danger]="mfgw.erlevel==='D'" [class.validating]="validating" (change)="onChange()">{{mfgw.message}}</span> 
                      </label>
                        <span class="flat-input" [class.hidden]="rvtype!=='M' || !rvmode || engtyp.value ==''">
                            <div class="col-xs-12 text-left" style="padding: 10px 20px;background: #fbfbfb" *ngIf="engtyp.value=='REARDSL'">
                                <div class="custradio"><input name="mfgw" id="mfgw0" value="Less than 5 years" type="radio"  [(ngModel)]="mfgw.value" ><label for="mfgw0"></label></div>
                                <label class="checklabel" style="font-weight: bold;" for="mfgw0">Less than 5 years</label> 
                            </div>
                            <div class="col-xs-12 text-left" style="padding: 10px 20px;background: #fbfbfb" *ngIf="engtyp.value=='AGAS' || engtyp.value=='FRTDSL'">
                                <div class="custradio"><input name="mfgw" id="mfgw1" value="36 Months / 36,000" type="radio"   [(ngModel)]="mfgw.value" ><label for="mfgw1"></label></div>
                                <label class="checklabel" style="font-weight: bold;" for="mfgw1">36 Months / 36,000</label> 
                            </div>
                            <div class="col-xs-12 text-left" style="padding: 10px 20px;background: #fbfbfb" *ngIf="engtyp.value=='FRTDSL' || engtyp.value=='Rear Diesel'">
                                <div class="custradio"><input name="mfgw" id="mfgw2" value="5 years / 100,000" type="radio"   [(ngModel)]="mfgw.value" ><label for="mfgw2"></label></div>
                                <label class="checklabel" style="font-weight: bold;" for="mfgw2">5 years / 100,000</label> 
                            </div>
                            <div class="col-xs-12 text-left" style="padding: 10px 20px;background: #fbfbfb" *ngIf="engtyp.value=='REARDSL'">
                              <div class="custradio"><input name="mfgw" id="mfgw51" value="5 years / 100,000" type="radio"  [(ngModel)]="mfgw.value" ><label for="mfgw3"></label></div>
                              <label class="checklabel" style="font-weight: bold;" for="mfgw51">5 years / 100,000</label> 
                          </div>
                            <div class="col-xs-12 text-left" style="padding: 10px 20px;background: #fbfbfb" *ngIf="engtyp.value=='REARDSL'">
                                <div class="custradio"><input name="mfgw" id="mfgw3" value="7 years / 100,000" type="radio"  [(ngModel)]="mfgw.value" ><label for="mfgw3"></label></div>
                                <label class="checklabel" style="font-weight: bold;" for="mfgw3">7 years / 100,000</label> 
                            </div>
                            <hr style="margin:0">
                        </span>
                        <span class="flat-input"  *ngIf = "rvtype!=='M' && rvmode">
                            <div *ngIf="!pagedata.body.rm12" class="col-sm-4 col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                                <div class="custradio"><input name="mfgw" id="mfgw4" value="12 Months" type="radio"  [(ngModel)]="mfgw.value" ><label for="mfgw4"></label></div>
                                <label class="checklabel" style="font-weight: bold;" for="mfgw4">12 Months</label> 
                            </div>
                            <div *ngIf="!pagedata.body.rm24" class="col-sm-4 col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                                <div class="custradio"><input name="mfgw" id="mfgw5" value="24 Months" type="radio"  [(ngModel)]="mfgw.value" ><label for="mfgw5"></label></div>
                                <label class="checklabel" style="font-weight: bold;" for="mfgw5">24 Months</label> 
                            </div>
                            <div *ngIf="!pagedata.body.rm36" class="col-sm-4 col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                                <div class="custradio"><input name="mfgw" id="mfgw6" value="36 Months" type="radio"  [(ngModel)]="mfgw.value" ><label for="mfgw6"></label></div>
                                <label class="checklabel" style="font-weight: bold;" for="mfgw6">36 Months</label> 
                            </div>
                            <div *ngIf="!pagedata.body.rm48" class="col-sm-4 col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                                <div class="custradio"><input name="mfgw" id="mfgw7" value="48 Months" type="radio"  [(ngModel)]="mfgw.value" ><label for="mfgw7"></label></div>
                                <label class="checklabel" style="font-weight: bold;" for="mfgw7">48 Months</label> 
                            </div>
                            <div *ngIf="!pagedata.body.rm60" class="col-sm-4 col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                                <div class="custradio"><input name="mfgw" id="mfgw8" value="60 Months" type="radio"  [(ngModel)]="mfgw.value" ><label for="mfgw8"></label></div>
                                <label class="checklabel" style="font-weight: bold;" for="mfgw8">60 Months</label> 
                            </div>
                            <div *ngIf="!pagedata.body.rm72" class="col-sm-4 col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                                <div class="custradio"><input name="mfgw" id="mfgw9" value="72 Months" type="radio"  [(ngModel)]="mfgw.value" ><label for="mfgw9"></label></div>
                                <label class="checklabel" style="font-weight: bold;" for="mfgw9">72 Months</label> 
                            </div>
                            <div *ngIf="!pagedata.body.rm84" class="col-sm-4 col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                                <div class="custradio"><input name="mfgw" id="mfgw10" value="84 Months" type="radio"  [(ngModel)]="mfgw.value" ><label for="mfgw10"></label></div>
                                <label class="checklabel" style="font-weight: bold;" for="mfgw10">84 Months</label> 
                            </div> 
                            <div *ngIf="!pagedata.body.rmnn" class="col-sm-8 col-xs-6 text-left" style="padding: 10px 20px;background: #fbfbfb">
                                <div class="custradio"><input name="mfgw" id="mfgw11" value="0 Months" type="radio"  [(ngModel)]="mfgw.value" ><label for="mfgw11"></label></div>
                                <label class="checklabel" style="font-weight: bold;" for="mfgw11">None</label> 
                            </div> 
                        </span>    
                        <div class="clearfix"></div>
                        <label class="flat-input inputlabel" *ngIf="pagedata.body.type==='R' ||
                                                                    (pagedata.body.type==='' && pagedata.body.dtype==='R')"><span class="req">*&nbsp;</span>Original Purchase Price
                                <span class="errorspan2" [class.opqquezero]="price.message===''" [class.alert-danger]="price.erlevel==='D'" [class.validating]="validating" (change)="onChange()">{{price.message}}</span> 
                            </label>
                            <span class="flat-input"  *ngIf="pagedata.body.type==='R' ||
                                                            (pagedata.body.type==='' && pagedata.body.dtype==='R')">
                                <input autocomplete="new-password{{ran}}" name="prce{{ran}}" id="prce" type="number" placeholder="Original Purchase Price" [(ngModel)]="price.value" [class.required]="price.message !==''"  [class.validating]="validating"  (change)="onChange()">
                            </span>
                        <div *ngIf="arrlob.indexOf('RVGAP')>-1   || 
                                    arrlob.indexOf('RVTHEFT')>-1 || 
                                    arrlob.indexOf('RVWHEEL')>-1 || 
                                    arrlob.indexOf('PIPETC')>-1  || 
                                    arrlob.indexOf('PIPGAP')>-1  || 
                                    arrlob.indexOf('PIPLSE')>-1  || 
                                    arrlob.indexOf('PIPSKR')>-1  || 
                                    arrlob.indexOf('PIPUVP')>-1  || 
                                    arrlob.indexOf('PIPWTR')>-1  || 
                                    arrlob.indexOf('RVRS')>-1 ">
                        <!--Financed-->
                        <label class="flat-input inputlabel" ><span class="req">*&nbsp;</span>Amount financed 
                                <span class="errorspan2" [class.opqquezero]="amfn.message===''" [class.alert-danger]="amfn.erlevel==='D'" [class.validating]="validating" (change)="onChange()">{{amfn.message}}</span> 
                            </label>
                            <span class="flat-input">
                                <input autocomplete="new-password{{ran}}" name="amfn{{ran}}" id="amfn" type="number" placeholder="Amount financed" [(ngModel)]="amfn.value" [class.required]="amfn.message !==''"  [class.validating]="validating"  (change)="onChange()">
                            </span>
                        </div>
                        <div *ngIf="arrlob.indexOf('GAP')>-1  && arrlob.indexOf('WT')<0"> 
                        <!--Financed-->
                        <label class="flat-input inputlabel" ><span class="req">*&nbsp;</span>Term in Months 
                                <span class="errorspan2" [class.opqquezero]="gapt.message===''" [class.alert-danger]="gapt.erlevel==='D'" [class.validating]="validating" (change)="onChange()">{{gapt.message}}</span> 
                            </label>
                            <span class="flat-input">
                                <input autocomplete="new-password{{ran}}" name="gapt{{ran}}" id="gapt" type="number" placeholder="Term in months" [(ngModel)]="gapt.value" [class.required]="gapt.message !==''"  [class.validating]="validating"  (change)="onChange()">
                            </span>
                        </div>
                        <div *ngIf="arrlob.indexOf('WT')>-1      ||
                                    arrlob.indexOf('PIPETC')>-1  || 
                                    arrlob.indexOf('PIPGAP')>-1  || 
                                    arrlob.indexOf('PIPLSE')>-1  || 
                                    arrlob.indexOf('PIPSKR')>-1  || 
                                    arrlob.indexOf('PIPUVP')>-1  || 
                                    arrlob.indexOf('PIPWTR')>-1 ">
                        <!--MSRP-->
                        <label class="flat-input inputlabel" ><span class="req">*&nbsp;</span>MSRP
                                <span class="errorspan2" [class.opqquezero]="msrp.message===''" [class.alert-danger]="msrp.erlevel==='D'" [class.validating]="validating" (change)="onChange()">{{msrp.message}}</span> 
                            </label>
                            <span class="flat-input">
                                <input autocomplete="new-password{{ran}}" name="msrp{{ran}}" id="msrp" type="number" placeholder="MSRP" [(ngModel)]="msrp.value" [class.required]="msrp.message !==''"  [class.validating]="validating"  (change)="onChange()">
                            </span>
                        </div>
                        <div *ngIf="arrlob.indexOf('WT')>-1">
                        <!--Lease Months-->
                        <label class="flat-input inputlabel" ><span class="req">*&nbsp;</span>Term in Months
                                <span class="errorspan2" [class.opqquezero]="lmth.message===''" [class.alert-danger]="lmth.erlevel==='D'" [class.validating]="validating" (change)="onChange()">{{lmth.message}}</span> 
                            </label>
                            <span class="flat-input">
                                <input autocomplete="new-password{{ran}}" name="lmth{{ran}}" id="lmth" type="number" placeholder="Lease Months" [(ngModel)]="lmth.value" [class.required]="lmth.message !==''"  [class.validating]="validating"  (change)="onChange()">
                            </span>
                        <!--Lease Miles-->
                        <label class="flat-input inputlabel" ><span class="req">*&nbsp;</span>Term Miles
                                <span class="errorspan2" [class.opqquezero]="lmil.message===''" [class.alert-danger]="lmil.erlevel==='D'" [class.validating]="validating" (change)="onChange()">{{lmil.message}}</span> 
                            </label>
                            <span class="flat-input">
                                <input autocomplete="new-password{{ran}}" name="lmil{{ran}}" id="lmil" type="number" placeholder="Lease Miles" [(ngModel)]="lmil.value" [class.required]="lmil.message !==''"  [class.validating]="validating"  (change)="onChange()">
                            </span>
                        </div>
                       
                        <label class="flat-input inputlabel"><span class="req">*&nbsp;</span>In Service Date&nbsp;<span class="infotip fa fa-question-circle" tooltip="In service date may affect certain coverage selections" placement="right" show-delay="200"></span>
                            &nbsp;&nbsp;<span class="errorspan2" [class.opqquezero]="insrvc.message===''" [class.alert-danger]="insrvc.erlevel==='D'" [class.validating]="validating">{{insrvc.message}}</span> 
                        </label>
                        <div class="flat-input w100">
                        <div class="col-sm-7" style="padding:0">
                          <input autocomplete="new-password{{ran}}" date-format="mm/dd/yyyy" name="servicedate{{ran}}" [disabled]="pagedata.body.requot" [class.validating]="validating" id="servicedate" type="date" [(ngModel)]="insrvc.value" [class.required]="insrvc.message !==''" placeholder="In-Service-Date"  (change)="onChangeDate1()">
                        </div>
                        <div class="col-sm-5" style="padding:0 0 0 25px">
                          <span class="flat-input-checkbox"><div class="custcheck"><input name="ckdate{{ran}}" id="ckdate"  type="checkbox" (change)="setDate($event)" [disabled]="pagedata.body.dyear==='' || pagedata.body.requot"><label for="ckdate"></label></div><label class="checklabel" for="ckdate">Don't Know</label></span>
                        </div>
                        </div>
                        <!--As Of Date-->
                        <label class="flat-input inputlabel" *ngIf="pagedata.head.as400"><span class="req">*&nbsp;</span>Rating Date
                            <span class="errorspan2" [class.opqquezero]="asofdt.message===''" [class.alert-danger]="asofdt.erlevel==='D'" [class.validating]="validating">{{asofdt.message}}</span> 
                        </label>
                        <div class="flat-input w100" *ngIf="pagedata.head.as400">
                        <div class="col-sm-7" style="padding:0">
                          <input autocomplete="new-password{{ran}}"  date-format="mm/dd/yyyy" name="asofdt{{ran}}" id="asofdt" type="date" [(ngModel)]="asofdt.value" [class.required]="asofdt.message !==''" [class.validating]="validating" placeholder="Rating Date"  (change)="rateDateChng()">
                        </div>
                        <div class="col-sm-5" style="padding:0 0 0 25px">
                        </div>
                        </div>
                        <p class="pull-left"><span class="req">*&nbsp;</span>Denotes required fields.</p>
                        <span class="flat-input"><button name="submit" type="submit" class="flat-button pull-right" id="submit" title="Continue">Continue</button></span>
                  </div>
            </form>  
        </div>
    </div>
    <div class="modal" id="fucilloModal" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left" id="alertTitle">Vehicle Information</h4>
            </div>
            <div class="modal-body">
              <p id="alertBody">Is this vehicle <b>USED</b> and <b>within 4,000 miles</b> and <b>4 months</b> of the <b>FACTORY POWERTRAIN</b> expiring?<br><br>
            (Certified Pre-Owned Vehicles, Click NO)<br>
            (If up-selling to Wrap Coverage, Click No)</p>
            </div>
            <div class="modal-footer">
              <button style="padding:8px 30px" type="button" class="btn btn-default" (click)="condno()" >NO</button>
              <button style="padding:8px 30px" type="button" class="btn btn-primary" (click)="condyes()" >YES</button>
            </div>
          </div>
        </div>
      </div>
    <div class="modal" id="newQuote" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left" id="alertTitle">Unsaved Quote</h4>
            </div>
            <div class="modal-body">
              <p id="alertBody">What would you like to do with your unsaved Quote?</p>
            </div>
            <div class="modal-footer">
              <button style="padding:8px 30px" type="button" class="btn btn-default" (click)="previous()" >Continue Previous</button>
              <button style="padding:8px 30px" type="button" class="btn btn-primary" (click)="newquote()" >Start New Quote</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="nocoverages" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title pull-left" id="alertTitle">No Coverages Available!</h3>
            </div>
            <div class="modal-body">
              <p style="font-weight: bold;font-size: 17px;"> No <span *ngIf="!hascover">Coverages</span> 
                     <span *ngIf="!hascover && !hasterm"> / </span>
                     <span *ngIf="!hasterm">Terms</span> available because vehicle is out of eligibility.</p>
            </div>
            <div class="modal-footer">
              <a style="padding:8px 30px" type="button" class="btn btn-primary" href="javascript:void(0)" (click)="closecov()" >Continue</a>
            </div>
          </div>
        </div>
      </div>
</section>
<app-footer></app-footer>
