<app-header [headdata]="pagedata.head"></app-header>
<section class="flat-row section-iconbox">
    <div class="container" [ngClass]="{'hidden':pagedata.head.status!=='I'}">
        <div class="row">
            <div class="col-xs-12" style="z-index:1">
                <div class="title-section style3 left">
                    <h1 class="title">Create New Quote & Contract</h1>
                </div>
                
            </div>
            <div class="white pull-left w100 stepsblock">
              <ul class="nav nav-wizard" id="quotesteps">
                  <li class="active"><a routerLink="/app/Quote1">Vehicle</a></li>
                  <li class="active"><a href="javascript:void(0)">Product</a></li>
                  <li><a class="disabledstep" href="javascript:void(0)">Quote</a></li>
              </ul>
              </div>
        </div>
        <div class="row white" style="min-height:400px">
                <form [class.hidden]="loading"  class="contactform style4 clearfix panel-body" method="post" (submit)="checkData('S')" novalidate  autocomplete="off">
                    <div class="col-md-12">
                        <div class="alert alert-success" role="alert" 
                        [ngClass]="{'alert-success':dispAlert.status==='S',
                                  'alert-danger':dispAlert.status==='E',
                                  'hidden':dispAlert.message===''}">{{dispAlert.message}}</div>
                      
                    </div>
                    <div clas="row" style="margin:10px 0px 30px 0px">
                        <div class="col-md-7" style="padding:0">
                            <div class="well well-sm sectionlabel active">
                                <div class="sectiontop" id="sec1" (click)="toggleVeh()">
                                    <h3 class="firsth">Vehicle Details</h3>
                                    <span class="vehspan"style="display:inline-block;padding:6px 0px 0px 5px;"  [ngClass]="{'hidden':expvehc}" >
                                        ( {{pagedata.body.veh.year}} {{pagedata.body.veh.make}} / {{pagedata.body.veh.model}} )
                                        &nbsp;<b>Mileage:</b>&nbsp;{{pagedata.body.veh.miles | number:0}}
                                    </span>
                                    <i class="fa sectiond fa-minus"  [ngClass]="{'fa-minus':expvehc,'fa-plus':!expvehc}"></i>
                                    <div class="clearfix"></div>
                                </div>
                
                                <div class="viewcont closed" id="sectionVeh" [ngClass]="{'closed':!expvehc}" style="padding:0;overflow-y:hidden">
                                    <hr>
                                    <table class="table table-striped" style="margin-bottom:0">
                                        <tbody>
                                            <tr>
                                                <td class="text-right" style="width:40%">
                                                    <b>Year:</b>
                                                </td>
                                                <td class="text-left" style="width:60%">{{pagedata.body.veh.year}}
                                                    <div class="pull-right">
                                                        <a routerLink="/app/Quote1" class="flat-button pull-right nextsection" section="2" id="submit" title="Edit" style="padding:2px 8px">Edit</a>
                                                    </div>
                                                </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right">
                                                        <b>Make:</b>
                                                    </td>
                                                    <td class="text-left">{{pagedata.body.veh.make}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right">
                                                        <b>Model:</b>
                                                    </td>
                                                    <td class="text-left">{{pagedata.body.veh.model}}</td>
                                                </tr>
                                                <tr *ngIf="pagedata.body.veh.rvtype !==''">
                                                        <td class="text-right">
                                                            <b>RV Type:</b>
                                                        </td>
                                                        <td class="text-left">{{pagedata.body.veh.rvtype}}</td>
                                                </tr>
                                                <tr *ngIf="pagedata.body.veh.miles !==''">
                                                    <td class="text-right">
                                                        <b>Mileage:</b>
                                                    </td>
                                                    <td class="text-left">{{pagedata.body.veh.miles | number:0}}</td>
                                                </tr>
                                                <tr *ngIf="pagedata.body.veh.engtyp !==''">
                                                        <td class="text-right">
                                                            <b>Engine Type:</b>
                                                        </td>
                                                        <td class="text-left">{{pagedata.body.veh.engtyp}}</td>
                                                </tr>
                                                <tr *ngIf="pagedata.body.veh.mfgw !==''">
                                                        <td class="text-right">
                                                            <b>Manufacturer's Warranty:</b>
                                                        </td>
                                                        <td class="text-left">{{pagedata.body.veh.mfgw}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right">
                                                        <b>VIN:</b>
                                                    </td>
                                                    <td class="text-left">{{pagedata.body.veh.vin}}</td>
                                                </tr>
                                                <tr *ngIf="pagedata.body.veh.price !==''">
                                                    <td class="text-right">
                                                        <b>Purchase Price:</b>
                                                    </td>
                                                    <td class="text-left">{{pagedata.body.veh.price | currency}}</td>
                                                </tr>
                                                <tr *ngIf="pagedata.body.veh.msrp !==''">
                                                    <td class="text-right">
                                                        <b>MSRP:</b>
                                                    </td>
                                                    <td class="text-left">{{pagedata.body.veh.msrp | currency}}</td>
                                                </tr>
                                                <tr *ngIf="pagedata.body.veh.amfn !==''">
                                                    <td class="text-right">
                                                        <b>Amount Financed:</b>
                                                    </td>
                                                    <td class="text-left">{{pagedata.body.veh.amfn | currency}}</td>
                                                </tr>
                                                <tr *ngIf="pagedata.body.veh.lmth !==''">
                                                    <td class="text-right">
                                                        <b>Lease Months:</b>
                                                    </td>
                                                    <td class="text-left">{{pagedata.body.veh.lmth}}</td>
                                                </tr>
                                                <tr *ngIf="pagedata.body.veh.lmil !==''">
                                                    <td class="text-right">
                                                        <b>Lease Miles:</b>
                                                    </td>
                                                    <td class="text-left">{{pagedata.body.veh.lmil | number:0}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right">
                                                        <b>In-Service:</b>
                                                    </td>
                                                    <td class="text-left">{{pagedata.body.veh.insrvc}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-12" style="padding:0"  *ngIf="listvf>0">
                            <h2>Vehicle Features</h2>
                        </div>
                        <div  *ngIf="listvf>0">
                        <ng-container *ngFor="let schg of pagedata.body.srchg ;let s = index" >
                        <div class="col-sm-4" *ngIf="schg.type =='VF'">
                                <span class="flat-input-checkbox" >
                                    <div class="custcheck" >
                                        <input name="plan" [checked]="schg.chek"    type="checkbox" class="c1" [checked]="schg.chek" [disabled]="(this.pagedata.body.veh.vin!='n/a' && pagedata.body.veh.price =='')||schg.lock">
                                        <label (click)="toggleschg(schg)"></label>
                                    </div>
                                    <label class="checklabel"(click)="toggleschg(schg)">{{schg.desc}}</label>
                                </span>
                        </div>
                        <div class="clearfix" *ngIf="schg.type =='VF' && (s+1)%3 == 0"></div>
                    </ng-container>
                    </div>
                        <div class="col-xs-12" style="padding:0"><hr></div>
                       
                    </div>
                    <div class="clearfix"></div>
                   <!-- <div clas="row" style="margin:10px 0px 30px 0px" *ngIf="listoc>0">
                        <div class="col-md-12" style="padding:0">
                            <h2>Optional Coverages</h2>
                        </div>
                        <ng-container *ngFor="let schg of pagedata.body.srchg ;let s = index">
                        <div class="col-sm-4" *ngIf="schg.type =='OC'">
                           
                                <span class="flat-input-checkbox" >
                                    <div class="custcheck" >
                                        <input name="plan" [checked]="schg.chek"    type="checkbox" class="c1" [checked]="schg.chek" >
                                        <label (click)="toggleschg(schg)"></label>
                                    </div>
                                    <label class="checklabel"(click)="toggleschg(schg)">{{schg.desc}}</label>
                                </span>
                            
                        </div>
                        <div class="clearfix" *ngIf="schg.type =='OC' && (s-listvf+1)%3 == 0"></div>
                    </ng-container>
                        
                        
                        
                        <div class="col-md-12" style="padding:0"><hr></div>
                    </div>-->
                    <div class="row" style="margin:10px 0px 10px 0px">
                        
                    </div>
                    
                    <div class="well well-sm sectionlabel" *ngFor="let datads of pagedata.body.data;let m = index">
                    <div class="sectiontop" (click)="toggle(datads)">
                        <h3 class="pull-left" style="margin:8px 5px">{{datads.desc}}&nbsp;&nbsp;<span class="errorspan2 alert-danger validating" [class.hidden]="datads.mesg==''">{{datads.mesg}}</span></h3>
                        <i class="fa sectiond2 fa-caret-up pull-right" [ngClass]="{'fa-caret-up':datads.open,'fa-caret-down':!datads.open}"></i>
                        <h5 class="pull-right" style="margin:13px 15px 0 0"[class.hidden]="datads.open">Click to select options</h5>
                        <div class="clearfix"></div>
                    </div>
                    <div class="viewcont" [class.closed]="!datads.open">
                        <hr style="margin:-10px 0 20px 0">
                    <div class="col-md-7 col-sm-12 col-xs-12" style="padding:0 0 25px 0" *ngIf="datads.showct">
                        <span class="flat-input">
                            <h4 style="margin:2px 0;">Contract Type</h4>
                            <select class="form__select w100" name="year{{datads.prg+datads.ratc}}" [(ngModel)]="datads.ctrct" (change)="setCtrct(datads)" style="margin-bottom:3px;float:left;width:60%">
                                <ng-container *ngFor="let cont of pagedata.body.contracts">
                                    <option  *ngIf="cont.prgm.padEnd(20) == datads.prg.padEnd(10) +datads.ratc.padEnd(10)" [value]="datads.prg.padEnd(10) + datads.ratc.padEnd(10) + cont.code.padEnd(30)" >{{cont.desc}}</option>
                                </ng-container>
                            </select> 
                            <input name="onetime{{p}}" type="number"   [class.hidden]="datads.catg !== 'OTC'" [(ngModel)]="datads.valu"  autocomplete="off" placeholder="Charge" style="margin:0 3px;width:80px;float:left;padding-left:8px; text-security: disc;-webkit-text-security: disc;-moz-text-security: disc;">
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12 well" style="background: #ffffff;" *ngIf="datads.hasoc">
                    <h4 style="margin-bottom: 5px;">Optional Coverages</h4><hr>
                    <ng-container *ngFor="let schg of pagedata.body.srchg ;let s = index">
                        <div class="col-md-4 col-sm-6" style="padding:0" *ngIf="schg.type =='OC' && schg.prgm == datads.prg && schg.ratc == datads.ratc">
                           
                                <span class="flat-input-checkbox" >
                                    <div class="custcheck" >
                                        <input name="plan" [checked]="schg.chek"    type="checkbox" class="c1" [checked]="schg.chek" >
                                        <label (click)="toggleschg(schg)"></label>
                                    </div>
                                    <label class="checklabel"(click)="toggleschg(schg)">{{schg.desc}}</label>
                                </span>
                            
                        </div>
                    </ng-container>
                    </div>
                    <div class="col-xs-12" *ngIf="datads.hasoc"><hr style="margin-top:5px"></div>
                    <div class="col-xs-12" style="padding:5px 0 0 5px;">
                        <div class="col-xs-12"><div class="custcheck parentcheck"><input name="plan" id="check1i{{datads.prg+datads.ratc}}" type="checkbox" class="cparent" (change)="selectAll($event,datads.cov.coverages)"><label for="check1i{{datads.prg+datads.ratc}}"></label></div><label for="check1i{{datads.prg+datads.ratc}}"><h4 class="showh4">Coverage<span class="showspan">&nbsp;(Select All)</span></h4></label></div>
                        <div class="clearfix"></div>
                        <ng-container *ngFor="let coverage of datads.cov.coverages;let c = index">
                            <div class="col-md-4 col-sm-6"   *ngIf="!coverage.check" [class.hidden]="coverage.dup">
                            <span class="flat-input-checkbox" ><div class="custcheck"><input name="plan" [checked]="coverage.check2" value="{{coverage.termc}}" id="check{{datads.prg+datads.ratc+coverage.termc}}" type="checkbox" class="c1" [checked]="coverage.check2" (change)="togglebox(coverage,m)"><label for="check{{datads.prg+datads.ratc+coverage.termc}}"></label></div><label class="checklabel" for="check{{datads.prg+datads.ratc+coverage.termc}}">{{coverage.desc | uppercase}}</label></span>
                            </div>
                            <div class="clearfix hidden-sm" *ngIf="coverage.clrf"></div>
                        </ng-container>
                        <!--Stacked-->
                    </div>
                    <div class="col-xs-12"><hr></div>
                    <div class="col-xs-12" style="padding:15px 0 0 5px;">
                        <div class="col-xs-12"><div class="custcheck parentcheck"><input name="plan" id="check3i{{datads.prg+datads.ratc}}" type="checkbox" class="cparent"  (change)="selectAll($event,datads.trm.terms)" ><label for="check3i{{datads.prg+datads.ratc}}"></label></div><label for="check3i{{datads.prg+datads.ratc}}"><h4 class="showh4">Terms <span class="showspan">&nbsp;(Select All)</span></h4></label></div>
                       <div class="clearfix"></div>
                        <ng-container *ngFor="let term of datads.trm.terms">
                            <div class="col-md-3 col-sm-6" *ngIf="!term.check">
                            <span class="flat-input-checkbox" ><div class="custcheck" ><input name="plan" [checked]="term.check2" value="{{term.termm}}"  id="check{{datads.prg+datads.ratc+term.termm+term.miles}}"  type="checkbox" class="c1" [checked]="term.check2" (change)="togglebox(term,m)"><label for="check{{datads.prg+datads.ratc+term.termm+term.miles}}"></label></div>
                                <label class="checklabel" for="check{{datads.prg+datads.ratc+term.termm+term.miles}}" *ngIf="datads.lobc!=='WT'"><span>{{term.termm}} Months</span> / {{term.miles| number:0 }} miles</label>
                                <label class="checklabel" for="check{{datads.prg+datads.ratc+term.termm+term.miles}}" *ngIf="datads.lobc =='WT'"><span>{{pagedata.body.veh.lmth}} Months</span> / {{pagedata.body.veh.lmil | number:0 }} miles</label>
                            </span>
                            </div>
                        </ng-container>
                    </div>
                    <div class="col-xs-12"><hr></div>
                    <div class="col-xs-12" style="padding:15px 0 0 5px;">
                            <div class="col-xs-12"><div class="custcheck parentcheck"><input name="plan" id="check2i{{datads.prg+datads.ratc}}" type="checkbox"  class="cparent" (change)="selectAll($event,datads.ded.deductibles)" ><label for="check2i{{datads.prg+datads.ratc}}"></label></div><label for="check2i{{datads.prg+datads.ratc}}"><h4 class="showh4">Deductibles <span class="showspan">&nbsp;(Select All)</span></h4></label></div>
                            <div class="clearfix"></div>
                            <ng-container *ngFor="let deductible of datads.ded.deductibles">
                            <div class="col-md-3 col-sm-6" *ngIf="!deductible.check && !(deductible.code=='DD' && !pagedata.body.hasdd) && !(deductible.code=='50DD' && !pagedata.body.hasdd)">
                            <span class="flat-input-checkbox"><div class="custcheck" ><input name="plan" [checked]="deductible.check2" value="{{deductible.code}}" id="check{{datads.prg+datads.ratc+deductible.code}}" type="checkbox" class="c1"  [checked]="deductible.check2" (change)="togglebox(deductible,m)"><label for="check{{datads.prg+datads.ratc+deductible.code}}"></label></div><label class="checklabel" for="check{{datads.prg+datads.ratc+deductible.code}}">{{deductible.desc}}</label></span>
                            </div>
                        </ng-container>
                    </div>
                    <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12">
                        <span class="flat-input"><button name="submit" type="submit" class="flat-button pull-right" id="submit" title="Continue">Continue</button></span>
                </div>
                </form>  
            
            
        </div>
    </div>
    <div class="loading hidden" id="calculating" ><div class="bar"><p>Preparing quote please wait...</p></div></div>
    <div class="modal" id="warnings" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left" id="alertTitle">Coverage Notes</h4>
            </div>
            <div class="modal-body">
              <div id="waningBody"></div>
            </div>
            <div class="modal-footer">
              <button style="padding:8px 30px" type="button" class="btn btn-primary" (click)="loadDb()" >OK</button>
            </div>
          </div>
        </div>
      </div>
</section>
<app-footer></app-footer>
