<app-header [headdata]="pagedata.head"></app-header>
<section class="flat-row section-iconbox">
<div class="container">                                                                           
  <div class="row">                                                                             
      <div class="col-md-6 col-md-offset-3 panel invisible" [ngClass]="{'visible':pagedata.head.status!=='I'}">       
                                                                       
          <form id="Login" class="contactform style4 clearfix panel-body" (submit)="checkLogin()" autocomplete="new-password">
                    <div  [class.invisi]="changeP"> 
                    <h1>Producer Login</h1>
                      <div class="alert alert-success" [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='S' || dispAlert.data ==='N'}" role="alert">{{dispAlert.message}}</div>
                      <div class="alert alert-danger"  [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='E' || dispAlert.data ==='N'}" role="alert">{{dispAlert.message}}</div>
                      <div class="alert alert-success" [ngClass]="{'hidden':dispAlert.data !=='N'}" role="alert">
                        Please use your new login Credentials to Login <a routerLink="/app/Home"><b><u>Here!</u></b></a>
                      </div>
                      <div >
                      <span class="flat-input">
                          <span class="errorspan" [class.opqquezero]="producer.message===''" [class.alert-danger]="producer.erlevel==='D'" [class.alert-success]="producer.erlevel==='S'" [class.validating]="validating">{{producer.message}}</span> 
                        <input [(ngModel)]="producer.value" autocomplete="new-password" name="producer" id="producer" autofocus [class.required]="producer.value===''" [class.validating]="validating"  type="text" (change)="onChange()" placeholder="* Producer #" maxlength="10">
                      </span>
                      <span class="flat-input">
                          <span class="errorspan" [class.opqquezero]="employee.message===''" [class.alert-danger]="employee.erlevel==='D'" [class.alert-success]="employee.erlevel==='S'" [class.validating]="validating">{{employee.message}}</span> 
                        <input [(ngModel)]="employee.value" autocomplete="new-password" name="employee" id="employee" [class.required]="employee.value===''" [class.validating]="validating"  (change)="onChange()" type="text" placeholder="* Employee ID" maxlength="50">
                      </span>
                      <span class="flat-input">
                          <span class="errorspan" [class.opqquezero]="password.message===''" [class.alert-danger]="password.erlevel==='D'" [class.alert-success]="password.erlevel==='S'" [class.validating]="validating">{{password.message}}</span> 
                        <input [(ngModel)]="password.value" autocomplete="new-password" name="password" id="password" [class.required]="password.value===''" [class.validating]="validating" (change)="onChange()" type="password" placeholder="* Password - (Case Sensitive)" max="50">
                      </span>
                    </div>
                  </div>
                   <div class="newpassword" *ngIf="changeP">
                        <h3 style="margin-bottom: 0;margin-top: 10px;">New Login Credentials Required</h3>
                        <div class="alert alert-success" [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='S'}" role="alert">{{dispAlert.message}}</div>
                        <div class="alert alert-danger"  [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='E'}" role="alert">{{dispAlert.message}}</div>
                      <div *ngIf="!created">
                       <span class="flat-input">
                          <span class="errorspan" [class.opqquezero]="nuser.message===''" [class.alert-danger]="nuser.erlevel==='D'" [class.alert-success]="nuser.erlevel==='S'" [class.validating]="validating">{{nuser.message}}</span> 
                        <input [(ngModel)]="nuser.value" autocomplete="new-password"  name="nuser" id="nuser" [class.required]="nuser.message!==''" [class.validating]="validating" (change)="onChange()" type="text" placeholder="*Your Email" max="70">
                       </span>
                       <span class="flat-input">
                          <span class="errorspan" [class.opqquezero]="nuserc.message===''" [class.alert-danger]="nuserc.erlevel==='D'" [class.alert-success]="nuser.erlevel==='S'" [class.validating]="validating">{{nuserc.message}}</span> 
                        <input [(ngModel)]="nuserc.value" autocomplete="new-password"  name="nuserc" id="nuserc" [class.required]="nuserc.message!==''" [class.validating]="validating" (change)="onChange()" type="text" placeholder="*Confirm Your Email" max="70">
                       </span>
                      <span class="flat-input">
                          <span class="errorspan" [class.opqquezero]="npassword.message===''" [class.alert-danger]="npassword.erlevel==='D'" [class.alert-success]="npassword.erlevel==='S'" [class.validating]="validating">{{npassword.message}}</span> 
                        <input [(ngModel)]="npassword.value" (keyup)="validPass()" autocomplete="new-password"  name="npassword" id="npassword" [class.required]="npassword.message!==''" [class.validating]="validating" (change)="onChange()" type="password" placeholder="* New Password" max="50">
                       </span>
                       <span class="flat-input">
                        <span class="errorspan" [class.opqquezero]="npasswordc.message===''" [class.alert-danger]="npasswordc.erlevel==='D'" [class.alert-success]="npasswordc.erlevel==='S'" [class.validating]="validating">{{npasswordc.message}}</span> 
                      <input [(ngModel)]="npasswordc.value" (keyup)="validPass()" autocomplete="new-password" name="npasswordc" id="npasswordc" [class.required]="npasswordc.message!==''" [class.validating]="validating" (change)="onChange()" type="password" placeholder="* Confirm New Password" max="50">
                     </span>
                     <div id="message" [class.hidden]="editP==='N'">
                      <h5 style="margin-bottom:5px">Password rules:</h5>
                      <p  [class.invalid]="!haslow"  [class.valid]="haslow"  >A <b>lowercase</b> letter</p>
                      <p  [class.invalid]="!hascap"  [class.valid]="hascap" >A <b>capital (uppercase)</b> letter</p>
                      <p  [class.invalid]="!hasnum"  [class.valid]="hasnum" >A <b>number</b></p>
                      <p  [class.invalid]="!haschr8" [class.valid]="haschr8"  >Minimum <b>8 characters</b></p>
                      <p  [class.invalid]="!matchp"  [class.valid]="matchp"  ><b>Confirm</b> password</p>
                    </div>
                      </div>  
                      </div>
                      <span *ngIf="created"><a style="color:#337ab7;padding-top:10px;" routerLink="/app/login"  class="pull-left" ><< Login</a></span>
                      <span *ngIf="!changeP && !created" class="flat-input"><button type="submit" class="flat-button pull-right"  title="Log In">Log In</button></span>
                      <span *ngIf="changeP && !created" class="flat-input"><button type="submit" class="flat-button pull-right"  title="Log In">Update Login</button></span>
                    </form>                                                                              
      </div>                                                                                                                                                                           
  </div>  
</div>
</section>  
<app-footer></app-footer> 