<app-header *ngIf="innermode!=='I'" [headdata]="pagedata.head"></app-header>

<section [class.flat-row]="innermode!=='I'"  class="section-iconbox">
	<div [class.container]="innermode!=='I'" [ngClass]="{'hidden':pagedata.head.status!=='I'}">
		<div class="row" *ngIf="innermode!=='I'">
			<div class="col-xs-12" style="z-index:1">
				<div class="title-section style3 left">
					<h1 class="title">Processed Contracts Inquiry</h1>
				</div>
			</div>
		</div>
		<form class="contactform style4 clearfix panel-body"  style="padding:5px 15px" method="post"  (submit)="getData()" autocomplete="off" [class.hidden]="pagemode!=='L'">
			<div class="row white">
				<div class="col-md-12">
					<div class="alert alert-success" style="margin:15px 5px 0 5px" [ngClass]="{'hidden':dispAlert.message===''|| dispAlert.status!=='S'}" role="alert">{{dispAlert.message}}</div>
          			<div class="alert alert-danger"  style="margin:15px 5px 0 5px" [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='E'}" role="alert">{{dispAlert.message}}</div>
				</div>
				<div class="col-xs-12">
					<h5 class="pull-left">&nbsp;</h5>
				</div>
				<div class="col-md-4">
					<label class="flat-input inputlabel">Contract #
						<span class="errorspan2"></span>
					</label>
					<div class="flat-input w100">
						<input autocomplete="new-password{{ran}}" (change)="onChange()" name="policy{{ran}}" id="anum" type="text" placeholder="Contract #" [(ngModel)]="anum">
					</div>
				</div>				
				<div class="col-md-4">
					<label class="flat-input inputlabel">Suffix
						<span class="errorspan2"></span>
					</label>
					<div class="flat-input w100">
						<input autocomplete="new-password{{ran}}" (change)="onChange()" name="Suffix{{ran}}" id="asuf" type="text" placeholder="Suffix" [(ngModel)]="asuf">
					</div>
				</div>
				<div class="col-md-4">
					<label class="flat-input inputlabel">Last 6 of VIN
						<span class="errorspan2"></span>
					</label>
					<div class="flat-input w100">
						<input autocomplete="new-vn{{ran}}" (change)="onChange()" name="newvn{{ran}}" id="newvn" type="text" maxlength="6" placeholder="Last 6 of VIN" [(ngModel)]="vin">
					</div>
				</div>
				<div class="col-md-4">
					<label class="flat-input inputlabel">Last Name
						<span class="errorspan2"> </span>
					</label>
					<div class="flat-input w100">
            <input autocomplete="new-vin{{ran}}" name="oln{{ran}}" (change)="onChange()" id="oln" type="text" placeholder="Last Name" [(ngModel)]="oln">
          </div>
				</div>
				<div class="col-md-4">
					<label class="flat-input inputlabel">First Name
						<span class="errorspan2{{ran}}"></span>
					</label>
					<div class="flat-input w100">
            <input autocomplete="new-password{{ran}}" name="ofn{{ran}}" (change)="onChange()" id="ofn" type="text" placeholder="First Name" [(ngModel)]="ofn">
          </div>
				</div>
				<div class="col-md-4">
					<label class="flat-input inputlabel">&nbsp;
						<span class="errorspan2"></span>
					</label>
					<div class="flat-input w100">
						<button name="submit" type="submit"  class="flat-button" style="margin-right:10px" title="Apply">Search</button>
						<button name="submit" type="button"  (click)="resetf()"  class="flat-button" style="margin-right:10px;background: #f0ad4e;" title="Clear">Clear</button>

					</div>
				</div>
			</div>

			<div class="row white apply-delete-space">						
				<div class="col-sm-6" *ngIf="pager.totalPages>1">
					<ul *ngIf="pager.pages && pager.pages.length" class="pagination ULpageOf">
						<li [ngClass]="{disabled:pager.currentPage === 1}">
							<a (click)="setPage(pager.currentPage - 1)">Previous</a>
						</li>
						<li>
							<span class="pageOf">Page {{pager.currentPage}} of {{pager.totalPages}}</span>
						</li>
						<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
							<a (click)="setPage(pager.currentPage + 1)">Next</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row white">
				<div class="p-table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th><b>Contract #</b></th>
								<th><b>Status</b></th>
								<th><b>Dealer #</b></th>
								<th><b>Last, First Name</b></th>
								<th><b>Last 6 of VIN</b></th>
								<th><b>Year</b></th>
								<th><b>Make</b></th>
								<th><b style="padding-left:8px;">View</b></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="pagedItems.length <1 && searched">
								<td colspan="8"><h4 style="padding: 15px 0;background:aliceblue;color: steelblue;text-align: center;">----No Processed Contracts To List----</h4></td>                        
							</tr>
							<ng-container *ngFor="let cont of (pagedItems)">
								<tr *ngIf="cont.show">
									<td data-label="Pol/Agr #">{{cont.anum}} - {{cont.asuf}}</td>
									<td data-label="Status">&nbsp;
									<span *ngIf="cont.rst == '1'" style="color:green;font-weight: bold;">Active</span>
									<span *ngIf="cont.rst == '2'">Cancelled</span>
									<span *ngIf="cont.rst == '3'">Suspended</span>
									<span *ngIf="cont.rst == '4'">Expired</span>
									<span *ngIf="cont.rst == '5'">Denied</span>
									</td>	
									<td data-label="Dealer">{{cont.dlr}}</td>
									<td data-label="Last, First Name">{{cont.oln}}, {{cont.ofn}}</td>
									<td data-label="Last 6 of VIN">{{cont.vin}}</td>
									<td data-label="Year">{{cont.yr}}</td>
									<td data-label="Make"><span class="vinspan">{{cont.manf}}</span></td>
									<td data-label="View">										
										<a  href="javascript:void(0);" (click)="viewCont(cont)" class="btn btn-warning btnedit" ><i style="font-size:17px" class="fa fa-eye"></i>&nbsp;View</a>
									</td>
								</tr>
							</ng-container>
						</tbody>
					</table>
				</div>
			</div>
		</form>
		<!-- View/Edit Mode -->
		<form class="contactform style4 clearfix panel-body" style="padding:5px 15px" method="post" autocomplete="new-password{{ran}}"[class.hidden]="pagemode=='L'">
		<div class="row white">
				<div class="btn-group col-xs-12" role="group" aria-label="Select View" style="margin-bottom: 10px;margin-top:10px;font-size: 18px">
						<button type="button" class="btn col-xs-3" [class.btn-primary]="pagemode=='V'"   [class.btn-default]="pagemode!=='V'"  (click)="setmode('V')" [class.higher]="innermode!=='I'">Contract Info</button>
						<button type="button" class="btn col-xs-3" [class.btn-primary]="pagemode=='P'"   [class.btn-default]="pagemode!=='P'" (click)="getPaym()"  [class.higher]="innermode!=='I'">Payments</button>
						
						<div class="btn-group" role="group" style="width:25%">
							<button (click)="togglec()" type="button" class="btn" [class.btn-primary]="pagemode=='R'||pagemode=='C'"   [class.btn-default]="pagemode!=='C' && pagemode!=='R'" [class.higher]="innermode!=='I'" style="width:100%;">
								Cancellations &nbsp;<span class="fa fa-caret-down"></span>
							</button>
						<div class="dropdown-menu show" [class.show]="showc"  style="min-width:80%">
						  <a class="pull-left" style="clear: left;padding:8px;" href="javascript:void(0)" (click)="getCanc()">View Cancellation Info</a>
							  <a class="pull-left" style="clear: left;padding:8px;" href="javascript:void(0)" (click)="setmode('R')">Calculate Cancellation Refund</a>
						</div>
					  	</div>
					    <button type="button" class="btn col-xs-3"  [class.btn-primary]="pagemode=='H' || pagemode=='CL'"   [class.btn-default]="pagemode!=='H' && pagemode!=='CL'" [class.higher]="innermode!=='I'"  (click)="getHist()">Claims History</button>
					  </div>
					  <div class="clearfix"></div>
			<h2 style="margin:15px 15px 0 15px;float: left" id="viewtop" *ngIf="pagemode=='V' && innermode!=='I'">View<span *ngIf="canedit">/Edit</span> Contract Information</h2>
			<h2 style="margin:15px 15px 0 15px;float: left" id="viewtop" *ngIf="pagemode=='P' && innermode!=='I'">View Payment History</h2>
			<h2 style="margin:15px 15px 0 15px;float: left" id="viewtop" *ngIf="pagemode=='C' && innermode!=='I'">View Cancellation Info</h2>
			<h2 style="margin:15px 15px 0 15px;float: left" id="viewtop" *ngIf="pagemode=='H' && innermode!=='I'">Service Contract Claim History</h2>
			<h2 style="margin:15px 15px 0 15px;float: left" id="viewtop" *ngIf="pagemode=='R' && innermode!=='I'">Cancellation Calculator and Quote</h2>
			
			<a href="javascript:window.print()"  *ngIf="innermode!=='I'" class="btn pull-right nextsection btn-default"  title="Print" style="padding:10px 30px;margin: 15px;">
				<span class="fa fa-print" style="font-size:16px"></span>&nbsp;&nbsp; Print</a>
			
			<a href="javascript:void(0)" *ngIf="view && canedit && view.stat=='Active' && pagemode=='V' && innermode!=='I'"  (click) ="editMode()" class="btn pull-right nextsection btn-primary"  title="Back" style="padding:10px 30px;margin: 15px;">
				<span class="fa fa-edit"></span>&nbsp;&nbsp;Edit</a>
		    <a href="javascript:void(0)"  *ngIf="innermode!=='I'" (click) ="clearMode()" class="btn pull-right nextsection btn-primary"  title="Back" style="padding:10px 30px;margin: 15px;">
					<span class="fa fa-backward"></span>&nbsp;&nbsp; Back</a>
			<div class="col-xs-12">
				<hr *ngIf="innermode!=='I'">
				<div class="clearfix"></div>
			</div>
			<div class="col-md-10 col-md-offset-1" style="padding-bottom: 15px">
					<h3 style="cursor: pointer" id="continfo" (click)="showcc=!showcc" *ngIf="pagemode!=='V' && innermode!=='I'"><i class="fa fa-plus" [class.fa-plus]="!showcc" [class.fa-minus]="showcc" ></i>&nbsp;Contract Information</h3>
					<table class="table table-bordered table-striped" [class.small-table]="innermode=='I'" *ngIf="view" [class.hidden]="!showcc && pagemode!=='V'">
							
								<tr>
										<td style="font-weight: bold;text-align: right;width:40%;">Contract Number / Status</td>
										<td width="50">{{view.anum}}-{{view.asuf}} / {{view.stat}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Full Name</td>
										<td width="50">{{view.ofn}} {{view.oln}}</td>
								</tr>
								<tr *ngIf="view.cbn && view.cbn !==''">
										<td style="font-weight: bold;text-align: right">Co-buyer Full Name</td>
										<td width="50">{{view.cbn}}</td>
								</tr>
								<tr *ngIf="!editon">
										<td style="font-weight: bold;text-align: right">Street Address</td>
										<td width="50">{{view.oad1}}</td>
								</tr>
								<tr *ngIf="editon" id="eoad1">
										<td style="font-weight: bold;text-align: right;vertical-align: middle;">
											<span class="errorspan2 alert-danger" [class.validating]="validating" [class.opqquezero]="eoad1.message===''">{{eoad1.message}}</span> 	
											&nbsp;&nbsp;<span class="req">*&nbsp;</span>Street Address</td>
										<td width="50"><input [class.validating]="validating" (change)="onChangeE()" [class.required]="eoad1.message !== ''" type="text" autocomplete="new-password{{ran}}" name="eoad1{{ran}}" [(ngModel)]="eoad1.value" style="margin:0;width:100%" ></td>
								</tr>
								<tr *ngIf="view.oad2!=='' && !editon">
										<td style="font-weight: bold;text-align: right">Apartment Number</td>
										<td width="50">{{view.oad2}}</td>
								</tr>
								<tr *ngIf="editon" id="eoad2">
										<td style="font-weight: bold;text-align: right;vertical-align: middle;">Apartment Number</td>
										<td width="50"><input type="text" (change)="onChangeE()"  autocomplete="new-password{{ran}}" name="eoad2{{ran}}" [(ngModel)]="eoad2.value" style="margin:0;" ></td>
								</tr>
								<tr *ngIf="!editon">
										<td style="font-weight: bold;text-align: right">City, State, Zip</td>
										<td width="50">{{view.octy}}, {{view.ost}} {{view.ozip}}</td>
								</tr>
								<tr *ngIf="editon" id="eocty">
										<td style="font-weight: bold;text-align: right;vertical-align: middle;">
											<span class="errorspan2 alert-danger" [class.validating]="validating" [class.opqquezero]="eocty.message===''">{{eocty.message}}</span>
											&nbsp;&nbsp;<span class="req">*&nbsp;</span>City</td>
										<td width="50"><input [class.validating]="validating" (change)="onChangeE()" [class.required]="eocty.message !== ''"  type="text" autocomplete="new-password{{ran}}" name="eocty{{ran}}" [(ngModel)]="eocty.value" style="margin:0;width:100%" ></td>
								</tr>
								<tr *ngIf="editon" id="eost">
										<td style="font-weight: bold;text-align: right;vertical-align: middle;">
											<span class="errorspan2 alert-danger" [class.validating]="validating" [class.opqquezero]="eost.message===''">{{eost.message}}</span>
											&nbsp;&nbsp;<span class="req">*&nbsp;</span>State</td>
										<td width="50">
											<select  [class.validating]="validating" [class.required]="eost.message !== ''"   name="eost{{ran}}" [(ngModel)]="eost.value" (change)="onChangeE()" class="form__select">
													<option value="">Select</option>                                    
													<option *ngFor="let statesl of pagedata.states" [value]="statesl.code" [attr.selected]="statesl.code==eost.value ? true : null">{{statesl.desc}}</option>
											</select>
										</td>
								</tr>
								<tr *ngIf="editon" id="eozip">
										<td style="font-weight: bold;text-align: right;vertical-align: middle;">
											<span class="errorspan2 alert-danger" [class.validating]="validating" [class.opqquezero]="eozip.message===''">{{eozip.message}}</span>
											&nbsp;&nbsp;<span class="req">*&nbsp;</span>Zip</td>
										<td width="50"><input [class.validating]="validating" (change)="onChangeE()" autocomplete="new-password{{ran}}" [class.required]="eozip.message !== ''" type="text"  name="eozip{{ran}}" [(ngModel)]="eozip.value" style="margin:0;" ></td>
								</tr>
								<tr *ngIf="!editon">
										<td style="font-weight: bold;text-align: right">Telephone</td>
										<td width="50">{{view.ophn}}</td>
								</tr>
								<tr *ngIf="editon" id="eophn">
										<td style="font-weight: bold;text-align: right;vertical-align: middle;">
											<span class="errorspan2 alert-danger" [class.validating]="validating"  [class.opqquezero]="eophn.message===''">{{eophn.message}}</span>
											&nbsp;&nbsp;<span class="req">*&nbsp;</span>Telephone</td>
										<td width="50"><input [class.validating]="validating" autocomplete="new-password{{ran}}" (change)="onChangeE()" (keyup)="formatPhone(eophn)"  name="new-password{{ran}}" [class.required]="eophn.message !== ''" type="tel" maxlength="14"  [(ngModel)]="eophn.value" style="margin:0;" ></td>
								</tr>
								<tr *ngIf="view.mail!=='' && !editon">
										<td style="font-weight: bold;text-align: right">Email Address</td>
										<td width="50">{{view.mail}}</td>
								</tr>
								<tr *ngIf="editon" id="email">
										<td style="font-weight: bold;text-align: right;vertical-align: middle;">
											<span class="errorspan2 alert-danger" [class.validating]="validating" [class.opqquezero]="eophn.message===''">{{email.message}}</span>
											&nbsp;&nbsp;Email Address</td>
										<td width="50"><input [class.validating]="validating" autocomplete="new-password{{ran}}" (change)="onChangeE()" [class.required]="email.message !== ''" type="text" [(ngModel)]="email.value" name="email{{ran}}" style="margin:0;width:100%;" ></td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Covered Vehicle</td>
										<td width="50">{{view.veh}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">VIN</td>
										<td width="50">{{view.vin}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Contract Term</td>
										<td width="50">{{view.cvmn}} Months / {{view.cvml|number:0}} miles</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Coverage</td>
										<td width="50">{{view.cov}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Deductible</td>
										<td width="50">{{view.ded | currency}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Purchase Date / Selling Price</td>
										<td width="50">{{view.vpd}} / {{view.ccst | currency}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Vehicle In Service Date / Mileage</td>
										<td width="50">{{view.vid}} / {{view.odr |number:0}} miles</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Expiration Date / Mileage</td>
										<td width="50">{{view.texd}} / {{view.exml |number:0}} miles</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Dealer</td>
										<td width="50">{{view.dnam}}</td>
								</tr>
								
								
					</table>
					<div class="clearfix"></div>
					<p class="pull-left" *ngIf="editon"><span class="req">*&nbsp;</span>Denotes required fields.</p>
					<a href="javascript:void(0)" *ngIf="editon" (click) ="checkEdit()" class="btn pull-right nextsection btn-primary"  title="Save" style="padding:10px 30px;margin: 15px 0;">
						 Save</a>

				    <div class="clearfix"></div>
					<!--Payment Section Begin ***********************************************************************************************-->
					<div *ngIf="pagemode=='P'"> 
					<h3>Payment Information</h3>
					<table class="table table-bordered table-striped" *ngIf="paym">
								<tr>
										<td style="font-weight: bold;text-align: right;width:40%;">Status</td>
										<td width="50">{{paym.stat}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Down payment</td>
										<td width="50">{{paym.dwnp | currency}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Price</td>
										<td width="50">{{paym.pric | currency}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Number of installments</td>
										<td width="50">{{paym.ppay | currency}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Number of payments made to date</td>
										<td width="50">{{paym.paym}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Total of payments made to date</td>
										<td width="50">{{paym.amtp | currency}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Total outstanding balance</td>
										<td width="50">{{paym.otbl | currency}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right">Next payment is due</td>
										<td width="50">{{paym.nxdd}}</td>
								</tr>
					</table>
					<div *ngIf="paym && paym.rows.length>0">
					<h3 style="margin-top:15px">Payment History</h3>
					<table class="table table-bordered table-striped">
								<tr>
										<th style="font-weight: bold">Pmt#</th>
										<th style="font-weight: bold">Due Date</th>
										<th style="font-weight: bold">Due Amt</th>
										<th style="font-weight: bold">Paid Date</th>
										<th style="font-weight: bold">Paid Amt</th>
										<th style="font-weight: bold">Check#  /  CC#</th>
										
								</tr>
								<tr *ngFor="let payment of paym.rows">
										<td>{{payment.pnbr}}</td>
										<td>{{payment.pmdd}}</td>
										<td>{{payment.damt | currency}}</td>
										<td>{{payment.pmdt}}</td>
										<td>{{payment.amnt | currency}}</td>
										<td>{{payment.ccno}}</td>
								</tr>
					</table>
				</div>
				</div>
				<!--Payment Section End ***********************************************************************************************-->

				<!--Cancellation Section Begin*****************************************************************************************-->
				<div *ngIf="pagemode=='C'">
						<h3>Cancellation Information</h3>
						<table class="table table-bordered table-striped" *ngIf="canc">
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Cancellation Date</td>
											<td width="50">{{canc.date}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right">Cancellation Mileage</td>
											<td width="50">{{canc.cmil | number:0}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right">Cancellation Method</td>
											<td width="50">{{canc.meth}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right">Cancellation Fee</td>
											<td width="50">{{canc.cfee | currency}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right">Refund Percentage</td>
											<td width="50">{{canc.refp}}</td>
									</tr>
									
						</table>
						<div *ngIf="canc && canc.rows.length>0">
						<h3 style="margin-top:15px">Payments</h3>
						<table class="table table-bordered table-striped">
									<tr>
											<th style="font-weight: bold">Date Paid</th>
											<th style="font-weight: bold">Amount</th>
											<th style="font-weight: bold">Check#</th>
											<th style="font-weight: bold">Pay To</th>
									</tr>
									<tr *ngFor="let payment of canc.rows">
											<td>{{payment.date}}</td>
											<td>{{payment.amnt | currency}}</td>
											<td>{{payment.ccno}}</td>
											<td>{{payment.pyto}}</td>
									</tr>
						</table>
					</div>
				</div>
				<!--Cancellation Section End*****************************************************************************************-->

				<!--Cancellation Calculator Begin***************************************************************************************-->
				<div *ngIf="pagemode=='R' && view.stat=='Active'">
						<div class="col-xs-12">
							<p *ngIf="canclmode !== '1'" style="margin:15px 0px">Enter the current Odometer Reading and Cancellation date, Then click the calculate button:</p>
							<p *ngIf="canclmode == '1'" style="margin:15px 0px;color:red;">Enter Cancellation reason, then click the create cancellation form button:</p></div>
						<div class="col-md-6">
								<label class="flat-input inputlabel" id="vpdlbl"><span class="req">*&nbsp;</span>Cancellation Date
									<span class="errorspan2 alert-danger" [class.opqquezero]="cdate.message===''" [class.validating]="validating">{{cdate.message}}</span> 
								</label>    
								<div class="flat-input w100">
									<input [disabled]="canclmode !== ''" autocomplete="new-password{{ran}}" class="w100"  name="vpd{{ran}}" type="date"  placeholder="Cancellation Date" [class.required]="cdate.message !== ''"  [class.validating]="validating"  [(ngModel)]="cdate.value" maxlength="20"  style="margin-bottom:7px">
								</div>
						</div>
						<div class="col-md-6">
							<label class="flat-input inputlabel"><span class="req">*&nbsp;</span>Current Odometer
									<span class="errorspan2 alert-danger" [class.opqquezero]="miles.message===''" [class.validating]="validating">{{miles.message}}</span> 
							</label>
							<div class="flat-input w100" style="padding:0 5PX;">
									<input [disabled]="canclmode !== ''" autocomplete="new-password{{ran}}" name="mileage{{ran}}" id="mileage" type="number" placeholder="Mileage" [(ngModel)]="miles.value" [class.required]="miles.message !==''"  [class.validating]="validating"  (change)="onChange()">
							</div>
						</div>
						<div class="col-md-6" *ngIf="canclmode == '1'">
							<label class="flat-input inputlabel"><span class="req" *ngIf="reqlh">*&nbsp;</span>Cancellation Reason &nbsp;
									<span class="errorspan2 alert-danger" [class.opqquezero]="reasn.message===''"  [class.validating]="validating">{{reasn.message}}</span> 
							</label>
							<span class="flat-input">
											<select  autocomplete="new-password" class="form__select w100" (change)="comm.value=''" name="lienholder"  [(ngModel)]="reasn.value" [class.required]="reasn.message !==''"  [class.validating]="validating">
													 <option value="">Select</option>                                    
													 <option value="C">Customer Request</option>                                    
													 <option value="I">Trade-In</option>                                    
													 <option value="T">Totaled/Stolen</option>                                    
													 <option value="R">Reposession</option>                                    
													 <option value="L">Loan Paid Off</option>                                    
													 <option value="O">Other</option>                                    
											 </select>
									 </span>
									
					</div>
					<div class="col-md-6" *ngIf="reasn.value =='O'">
						<label class="flat-input inputlabel"><span class="req">*&nbsp;</span>Explanation
								<span class="errorspan2 alert-danger" [class.opqquezero]="comm.message===''" [class.validating]="validating">{{comm.message}}</span> 
						</label>
						<div class="flat-input w100" style="padding:0 5PX;">
								<input autocomplete="new-password{{ran}}" maxlength="30" type="text" name="comm{{ran}}"  placeholder="Explanation" [(ngModel)]="comm.value" [class.required]="comm.message !==''"  [class.validating]="validating"  (change)="onChange()">
						</div>
					</div>
						<div class="col-xs-12" *ngIf="canclmode ==''">
								<a href="javascript:void(0)"  (click) ="calculate()" class="btn pull-right nextsection btn-warning"  title="Back" style="padding:10px 30px;margin: 15px 5px;">
										<span class="fa fa-calculator"></span>&nbsp;&nbsp; Calculate</a>
						</div>
						<div class="col-xs-12" *ngIf="canclmode =='3'">
								<a href="javascript:void(0);" (click)="viewPdf(rfnd.iono)"  class="btn btn-primary btnedit" href="javascript:void(0)">View Form&nbsp;<i style="font-size:17px" class="fa fa-file-pdf-o"></i></a>
						</div>
						<div class="col-xs-12" *ngIf="canclmode=='1'">
								<a href="javascript:void(0)"  (click) ="cancelc()" class="btn pull-right nextsection btn-warning"  title="Cancel" style="padding:10px 30px;margin: 15px 5px;">
										Cancel</a>
								<a href="javascript:void(0)"  (click) ="calculate()" class="btn pull-right nextsection btn-danger"  title="Create Cancellation Form" style="padding:10px 30px;margin: 15px 5px;">
										Create Cancellation Form</a>
						</div>

						<div class="col-xs-12" *ngIf="gotrfnd">
							<h3>Result</h3>
							<h4 *ngIf="rfnd.err!==''" style="color:red">{{rfnd.err}}</h4>
							<table *ngIf="rfnd.err ==''" class="table table-bordered table-striped">
							
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Created On:</td>
											<td width="50">{{dt | date:'MM/dd/yyy HH:mm:ss a'}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Odometer:</td>
											<td width="50">{{rfnd.odr|number:0}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Cancel Date:</td>
											<td width="50">{{rfnd.cdt}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Rule:</td>
											<td width="50">{{rfnd.rul}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Return Percentage:</td>
											<td width="50">{{rfnd.pct}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Customer Refund Amount:</td>
											<td width="50">{{rfnd.amt | currency}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Dealer Refund Amount:</td>
											<td width="50">{{rfnd.amtd | currency}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Cancellation Fee:</td>
											<td width="50">{{rfnd.fee | currency}}</td>
									</tr>
							</table>

						</div>

						
				</div>
				<div *ngIf="pagemode=='R' && view.stat!=='Active'">
					<h4 style="color:red">THE CONTRACT IS NOT ACTIVE. A CANCELLATION QUOTATION IS NOT PERMITTED.</h4>
				</div>
				<!--Cancellation Calculator End*****************************************************************************************-->

				
			</div>
			<!--History Section Begin*****************************************************************************************-->
			<div  *ngIf="pagemode=='H'">
			<div class="col-xs-12" style="padding-bottom:15px">
					<h3 *ngIf="hist.rows.length <1" style="color:green;text-align:center;">No Claims On File</h3>
					<div *ngIf="hist && hist.rows.length>0">
					<table class="table table-bordered table-striped" style="margin:5px">
								<tr>
										<th style="font-weight: bold">View</th>
										<th style="font-weight: bold">Fail Date</th>
										<th style="font-weight: bold">Mileage</th>
										<th style="font-weight: bold">Major Problem</th>
										<th style="font-weight: bold">Claim #</th>
										<th style="font-weight: bold">Claim $</th>
										<th style="font-weight: bold">Pay $</th>
										<th style="font-weight: bold">Claim Status</th>
								</tr>
								<tr *ngFor="let row of hist.rows">
										<td><a class="btn btn-warning btnedit" href="javascript:void(0);" (click)="viewClmm(row.clmn)">View</a></td>
										<td>{{row.fldt}}</td>
										<td>{{row.clmm | number:0}}</td>
										<td>{{row.mjp1}}</td>
										<td>{{row.clmn}}</td>
										<td>{{row.clma}}</td>
										<td>{{row.clmp | currency}}</td>
										<td>{{row.desc}}</td>
								</tr>
					</table>
				</div>
			</div>
			</div>
			<!--History Section End*****************************************************************************************-->

			<!--Claims Section Begin*****************************************************************************************-->
			<div  *ngIf="pagemode=='CL'">
			<div class="col-md-8 col-md-offset-2" style="padding-bottom:15px">
					<div *ngIf="clms">
							<a href="javascript:void(0)" class="pull-right" (click)="pagemode='H'" style="font-size:16px"><i class="fa fa-backward"></i>&nbsp;Return</a>
							<div class="clearfix"></div>
							<table class="table table-bordered table-striped">
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Claim Number / Status</td>
											<td width="50">{{clms.clmn}} <b>/</b> {{clms.stat}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Repair Shop Code / Name</td>
											<td width="50">{{clms.repf}} <b>/</b> {{clms.repn}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Repair Shop Contact / Phone</td>
											<td width="50">{{clms.repc}} <b>/</b> {{clms.repp}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Claim Mileage</td>
											<td width="50">{{clms.clmm | number:0}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Reported Date / Time</td>
											<td width="50">{{clms.repd}} <b>/</b> {{clms.rept}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">RO Number / Date</td>
											<td width="50">{{clms.ron1}} <b>/</b> {{clms.rod1}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Labor Rate</td>
											<td width="50">{{clms.labr | currency}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Tax / Supply Tax Rate</td>
											<td width="50">{{clms.labt | number}} / {{clms.shpt | number}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Shop Manual</td>
											<td width="50">{{clms.frm}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Authorized Number</td>
											<td width="50">{{clms.auth}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Paid Amount</td>
											<td width="50">{{clms.clmp | currency}}</td>
									</tr>
									<tr>
											<td style="font-weight: bold;text-align: right;width:40%;">Major Problem</td>
											<td width="50">{{clms.mjp1}}</td>
									</tr>
					</table>
					
				</div>
			</div>
			<div class="col-xs-12" *ngIf="clms">
					<h4>COMPONENT INFORMATION</h4>
					<table class="table table-bordered table-striped" style="margin:5px">
							<tr>
									<th style="font-weight: bold">Code</th>
									<th style="font-weight: bold">Description</th>
									<th style="font-weight: bold">Part #</th>
									<th style="font-weight: bold">Part Cost</th>
									<th style="font-weight: bold">Part Qty</th>
									<th style="font-weight: bold">Tax Y/N</th>
									<th style="font-weight: bold">Labour Hours</th>
									<th style="font-weight: bold">Tax Y/N</th>
									<th style="font-weight: bold">Total</th>
									<th style="font-weight: bold">Status</th>
							</tr>
							<tr *ngFor="let row of clms.compnts">
									<td>{{row.code}}</td>
									<td>{{row.desc}}</td>
									<td>{{row.prtn}}</td>
									<td>{{row.prtc | currency}}</td>
									<td>{{row.prtq}}</td>
									<td>{{row.prtt}}</td>
									<td>{{row.labt}}</td>
									<td>{{row.ltax}}</td>
									<td>{{row.totc | currency}}</td>
									<td>{{row.pays}}</td>
							</tr>
				</table>
			</div>
			</div>
			<!--History Section End*****************************************************************************************-->
		</div>
		</form>
	</div>
	<div class="modal"  id="infomodal" role="dialog" aria-hidden="true" style="display: none;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 *ngIf="canclmode!=='2'"  class="modal-title pull-left" id="alertTitle">Result</h4>
					<h4 *ngIf="canclmode =='2'"  class="modal-title pull-left" id="alertTitle">Print Cancellation Form</h4>
				</div>
				<div class="modal-body"  *ngIf="gotrfnd">
					<div class="col-xs-12">
						<h4 *ngIf="rfnd.err!==''" style="color:red">{{rfnd.err}}</h4>
						<table *ngIf="rfnd.err =='' && canclmode !=='2'" class="table table-bordered table-striped">
								<tr>
										<td style="font-weight: bold;text-align: right;width:40%;">Created On:</td>
										<td width="50">{{dt | date:'MM/dd/yyy HH:mm:ss a'}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right;width:40%;">Odometer:</td>
										<td width="50">{{rfnd.odr|number:0}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right;width:40%;">Cancel Date:</td>
										<td width="50">{{rfnd.cdt}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right;width:40%;">Rule:</td>
										<td width="50">{{rfnd.rul}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right;width:40%;">Return Percentage:</td>
										<td width="50">{{rfnd.pct}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right;width:40%;">Customer Refund Amount:</td>
										<td width="50">{{rfnd.amt | currency}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right;width:40%;">Dealer Refund Amount:</td>
										<td width="50">{{rfnd.amtd | currency}}</td>
								</tr>
								<tr>
										<td style="font-weight: bold;text-align: right;width:40%;">Cancellation Fee:</td>
										<td width="50">{{rfnd.fee | currency}}</td>
								</tr>
								<tr>
									<td colspan="2" class="text-center">
										<p style="background: white;font-size:13px;">THIS PROGRAM IS PROVIDED BY NATIONAL WARRANTY CORPORATION AND PAYMENT INSURED PLAN, 
											AND IS ESTIMATOR ONLY, ACTUAL REFUNDS WILL BE RE-CALCULATED ON THE RECEIPT OF CANCELLATION 
											PAPERWORK. CANCELLATION PAPERWORK MUST BE SUBMITTED TO NATIONAL WARRANTY CORPORATION 
											WITHIN 5 DAYS OF CANCELLATION QUOTE TO CUSTOMER. IF CLAIMS HAVE BEEN PAID ON GAP OR 
											CREDIT LIFE POLICIES, THE POLICY IS NO LONGER ELIGIBLE FOR CANCELLATION.</p><hr>
										<p>Continue with the cancellation process and print form</p>
										<a href="javascript:void(0);" (click)="cancelmode()"  class="btn btn-danger btnedit" href="javascript:void(0)">Continue &nbsp;<span class="fa fa-forward"></span></a>
									</td>
							</tr>
						</table>
						<table *ngIf="rfnd.err =='' && canclmode =='2'" class="table table-bordered table-striped">
								<tr>
										<td colspan="2">
										Please print out the form and have contract holder sign it. The signed form and any required documentation can be emailed
										to <a href="mailto:cancellations@revolos.com" style="color:#337ab7">cancellations@revolos.com</a>.<br> 
										</td>
								</tr>
						</table>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<button *ngIf="canclmode !=='2'" class="btn btn-primary" (click)="hidemdl('infomodal');" type="button">OK</button>
					<a *ngIf="canclmode =='2'" href="javascript:void(0);" (click)="hidemdl('infomodal');"  class="btn btn-primary btnedit" href="javascript:void(0)">View Form&nbsp;<i style="font-size:17px" class="fa fa-file-pdf-o"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<app-footer *ngIf="innermode!=='I'"></app-footer>