
<div class="modal" id="signmodal" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left" id="alertTitle">Sign Contract</h4>
      </div>
      <div class="modal-body">
          <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" (click)="clearsig()" type="button">CLEAR</button>
        <button class="btn btn-primary" (click)="savesig()" type="button">SAVE</button>
        <h1 *ngIf="iono">{{iono}}</h1>
      </div>
    </div>
  </div>
</div>