<app-header [headdata]="pagedata.head"></app-header>

<section class="flat-row section-iconbox">
	<div class="container" [ngClass]="{'hidden':pagedata.head.status!=='I'}">
		<div class="row">
			<div class="col-xs-12" style="z-index:1">
				<div class="title-section style3 left">
					<h1 class="title">Work With Invoices</h1>
				</div>
			</div>
		</div>

		<form class="contactform style4 clearfix panel-body" method="post"  (submit)="dateFilter()" autocomplete="off">
			<div class="row white">
				<div class="col-md-12">
					<div class="alert alert-success" style="margin-top:15px" [ngClass]="{'hidden':dispAlert.message===''|| dispAlert.status!=='S'}" role="alert">{{dispAlert.message}}</div>
          <div class="alert alert-danger"  [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='E'}" role="alert">{{dispAlert.message}}</div>
				</div>
				<div class="col-xs-12">
					<h5 class="pull-left">&nbsp;</h5>
				</div>
				<div class="col-md-4">
					<label class="flat-input inputlabel">View From Date
						<span class="errorspan2"> </span>
					</label>
					<div class="flat-input w100">
            <input autocomplete="new-password{{ran}}" name="fromdate" (change)="onChange()" id="fromdate" type="date" placeholder="From Date" [(ngModel)]="frdt">
          </div>
				</div>
				<div class="col-md-4">
					<label class="flat-input inputlabel">To Date
						<span class="errorspan2{{ran}}"></span>
					</label>
					<div class="flat-input w100">
    					<input autocomplete="new-password{{ran}}" name="todate" (change)="onChange()" id="todate" type="date" placeholder="To Date" [(ngModel)]="todt">
          			</div>
				</div>
				<div class="col-md-4">
					<label class="flat-input inputlabel">Invoice #
						<span class="errorspan2{{ran}}"></span>
					</label>
					<div class="flat-input w100">
    					<input autocomplete="new-password{{ran}}" name="ivno" (change)="onChange()" id="ivno" type="text" placeholder="Invoice #" [(ngModel)]="ivno">
          			</div>
				</div>
				<div class="col-md-4">
					<label class="flat-input inputlabel">&nbsp;
						<span class="errorspan2"></span>
					</label>
					<div class="flat-input w100">
						<button name="submit" type="submit" [disabled]="applyFiltBtn === false"  class="flat-button" style="margin-right:10px" title="Apply">Apply</button>
						<button name="submit" type="button" [disabled]="applyFiltBtn === false" (click)="resetf()"  class="flat-button" style="margin-right:10px;background: #f0ad4e;" title="Clear">Clear</button>
					</div>
				</div>
			</div>

			<div class="row white apply-delete-space">						
				<div class="col-sm-6" *ngIf="pager.totalPages>1">
					<ul *ngIf="pager.pages && pager.pages.length" class="pagination ULpageOf">
						<li [ngClass]="{disabled:pager.currentPage === 1}">
							<a (click)="setPage(pager.currentPage - 1)">Previous</a>
						</li>
						<li>
							<span class="pageOf">Page {{pager.currentPage}} of {{pager.totalPages}}</span>
						</li>
						<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
							<a (click)="setPage(pager.currentPage + 1)">Next</a>
						</li>
					</ul>
				</div>

				<div class="col-xs-12 text-right" style="margin:10px;">
					<span class="flat-input" style="margin:5px;">
						<button [class.invisible]="showDelete!==true" name="submit" type="button" (click)="Transmit()" class="flat-button" style="margin-right:10px; transition: 0s;" title="Apply">Submit Contracts to Revolos</button>
					</span>
				</div>
				

			</div>
			<div class="row white">
				<div class="p-table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th><b>Submit to Revolos</b></th>
								<th><b>Invoice #</b></th>
								<th><a href="javascript:void(0)" style="color:#337ab7" (click)="changeSort()" title="Sort By Date"><b>Date</b>&nbsp;&nbsp;<i class="fa" [class.fa-arrow-down]="!datesort" [class.fa-arrow-up]="datesort"></i></a></th>
								<th><b>Total Cost</b></th>
								<th><b style="padding-left:8px;">View</b></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="pagedItems.length <1">
								<td colspan="8"><h4 style="padding: 15px 0;background:aliceblue;color: steelblue;text-align: center;">----No Invoices To List----</h4></td>                        
							</tr>
							<ng-container *ngFor="let inv of (pagedItems)">
								<tr *ngIf="inv.show === true">
									<td data-label="Delete" style="padding-top:0">
										<span class="flat-input-checkbox-SQ" *ngIf="inv.stat !=='T'">
											<div class="custcheck">
												<input class="c1" name="{{inv.ivno}}" [disabled]="inv.stat=='T'" (change)="onChange()" type="checkbox" id="{{inv.ivno}}" [checked]="inv.selected" (change)="chkInv(inv)">
												<label for="{{inv.ivno}}"></label>
											</div>
										</span>
									</td>
									<td data-label="Invoice #">{{inv.ivno}}</td>	
									<td data-label="Invoice Date">{{inv.ivdt}}</td>
									<td data-label="Total Cost">{{inv.amnt}}</td>
									<td data-label="View"><a href="javascript:void(0);" (click)="viewInv(inv.ivno)" style="background:dimgrey" class="btn btn-info btnedit" href="javascript:void(0)"><i style="font-size:17px" class="fa fa-file-pdf-o"></i>&nbsp;pdf</a></td>
								</tr>
							</ng-container>
						</tbody>
					</table>
				</div>
			</div>


		</form>
	</div>
	<div class="modal" id="infomodal" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title pull-left" id="alertTitle">Invoices have been submitted!</h4>
                </div>
                <div class="modal-body">
                  <p id="alertBody">Thank you for transmitting your contract(s).
					   Remember that the remittance process is not complete until the payment has been received. 
					   Please print the corresponding invoice and submit it to our office along with a check for the total amount due. 
					   If you have any questions feel free to contact our Client Relations Team at 800-942-0400 option 5.<br> 
					   We appreciate your business!
					</p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary" (click)="hidemdl('infomodal');" type="button">OK</button>
                </div>
              </div>
            </div>
          </div>
</section>

<app-footer></app-footer>