<app-header [headdata]="pagedata.head"></app-header>
<section class="flat-row section-iconbox">
<div class="container">                                                                           
  <div class="row">                                                                             
      <div class="col-md-6 col-md-offset-3 panel invisible" [ngClass]="{'visible':pagedata.head.status!=='I'}">       
          <!--Forgot Password-->                                                             
          <form *ngIf="viewmode=='F'" id="Login" class="contactform style4 clearfix panel-body" (submit)="checkLogin()" autocomplete="new-password">
                      <h1>Start Password Reset</h1>
                      <div class="alert alert-success" [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='S'}" role="alert">{{dispAlert.message}}</div>
                      <div class="alert alert-danger"  [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='E'}" role="alert">{{dispAlert.message}}</div>
                      <div *ngIf="finprocess">
                        <p>A reset password link will be sent to your email address below.</p>
                      <span class="flat-input">
                          <span class="errorspan" [class.opqquezero]="employee.message===''" [class.alert-danger]="employee.erlevel==='D'" [class.alert-success]="employee.erlevel==='S'" [class.validating]="validating">{{employee.message}}</span> 
                        <input [(ngModel)]="employee.value" autocomplete="new-password" name="employee" autofocus id="employee" [class.required]="employee.value===''" [class.validating]="validating"  (change)="onChange()" type="text" placeholder="* Your Email Address" maxlength="50">
                      </span>
                    </div>
                    <span><a style="color:#337ab7;padding-top:10px;" routerLink="/app/home"  class="pull-left" ><< Login</a></span>
                      <span  *ngIf="finprocess" class="flat-input"><button type="submit" class="flat-button pull-right"  title="Log In">Reset Password</button></span>
                    </form>                                                                              
          <!--Forgot Password-->                                                             
          <form *ngIf="viewmode=='R'" id="Login" class="contactform style4 clearfix panel-body"  (submit)="checkPassword()" autocomplete="new-password">
                      <h1>Reset Your Password</h1>
                      <div class="alert alert-success" [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='S'}" role="alert">{{dispAlert.message}}</div>
                      <div class="alert alert-danger"  [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='E'}" role="alert">{{dispAlert.message}}</div>
                      <div class="newpassword" *ngIf="dispAlert.status=='S' && finprocess" >
                        <p>Enter your new password below.</p>
                        <span class="flat-input">
                            <span class="errorspan" [class.opqquezero]="npassword.message===''" [class.alert-danger]="npassword.erlevel==='D'" [class.alert-success]="npassword.erlevel==='S'" [class.validating]="validating">{{npassword.message}}</span> 
                          <input [(ngModel)]="npassword.value" (keyup)="validPass()" autocomplete="new-password"  name="npassword" id="npassword" [class.required]="npassword.message!==''" [class.validating]="validating" (change)="onChange()" type="password" placeholder="* New Password" max="50">
                         </span>
                         <span class="flat-input">
                          <span class="errorspan" [class.opqquezero]="npasswordc.message===''" [class.alert-danger]="npasswordc.erlevel==='D'" [class.alert-success]="npasswordc.erlevel==='S'" [class.validating]="validating">{{npasswordc.message}}</span> 
                        <input [(ngModel)]="npasswordc.value" (keyup)="validPass()" autocomplete="new-password" name="npasswordc" id="npasswordc" [class.required]="npasswordc.message!==''" [class.validating]="validating" (change)="onChange()" type="password" placeholder="* Confirm New Password" max="50">
                       </span>
                       <div id="message" [class.hidden]="editP==='N'">
                        <h5 style="margin-bottom:5px">Password rules:</h5>
                        <p  [class.invalid]="!haslow"  [class.valid]="haslow"  >A <b>lowercase</b> letter</p>
                        <p  [class.invalid]="!hascap"  [class.valid]="hascap" >A <b>capital (uppercase)</b> letter</p>
                        <p  [class.invalid]="!hasnum"  [class.valid]="hasnum" >A <b>number</b></p>
                        <p  [class.invalid]="!haschr8" [class.valid]="haschr8"  >Minimum <b>8 characters</b></p>
                        <p  [class.invalid]="!matchp"  [class.valid]="matchp"  ><b>Confirm</b> password</p>
                      </div>
                    </div>
                    <span><a style="color:#337ab7;padding-top:10px;" routerLink="/app/home"  class="pull-left" ><< Login</a></span>
                      <span class="flat-input" *ngIf="dispAlert.status=='S' && finprocess"  ><button type="submit" class="flat-button pull-right"  title="Log In">Reset Password</button></span>
                    </form>    
            <!--Activate Email-->                                                             
          <form *ngIf="viewmode=='A'" id="Activate" class="contactform style4 clearfix panel-body"  autocomplete="new-password">
            <div class="alert alert-success" [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='S'}" role="alert">{{dispAlert.message}}</div>
            <div class="alert alert-danger"  [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='E'}" role="alert">{{dispAlert.message}}</div>                                                                          
            <span><a style="color:#337ab7;padding-top:10px;" routerLink="/app/home"  class="pull-left" ><< Login</a></span>
          </form>
          </div>                                                                                                                                                                           
  </div>  
</div>
</section>  
<app-footer></app-footer> 