<app-header [headdata]="pagedata.head"></app-header>

<section class="flat-row section-iconbox">
	<div class="container" [ngClass]="{'hidden':pagedata.head.status!=='I'}">
		<div class="row">
			<div class="col-xs-12" style="z-index:1">
				<div class="title-section style3 left">
					<h1 class="title">Legacy Contracts</h1>
				</div>
			</div>
		</div>

		<form class="contactform style4 clearfix panel-body" method="post"  (submit)="dateFilter()" autocomplete="off">
			<div class="row white">
				<div class="col-md-12">
					<div class="alert alert-success" [ngClass]="{'hidden':dispAlert.message===''|| dispAlert.status!=='S'}" role="alert">{{dispAlert.message}}</div>
          <div class="alert alert-danger"  [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='E'}" role="alert">{{dispAlert.message}}</div>
				</div>
				<div class="col-xs-12">
					<h5 class="pull-left">&nbsp;</h5>
				</div>
				<div class="col-md-4">
					<label class="flat-input inputlabel">From Date
						<span class="errorspan2"> </span>
					</label>
					<div class="flat-input w100">
            <input autocomplete="new-password{{ran}}" name="fromdate" id="fromdate" type="date" placeholder="From Date" [(ngModel)]="frdt">
          </div>
				</div>
				<div class="col-md-4">
					<label class="flat-input inputlabel">To Date
						<span class="errorspan2{{ran}}"></span>
					</label>
					<div class="flat-input w100">
            <input autocomplete="new-password{{ran}}" name="todate" id="todate" type="date" placeholder="To Date" [(ngModel)]="todt">
          </div>
				</div>
				<div class="col-md-4">
					<label class="flat-input inputlabel">&nbsp;
						<span class="errorspan2"></span>
					</label>
					<div class="flat-input w100">
						<button name="submit" type="submit" [disabled]="applyFiltBtn === false"  class="flat-button" style="margin-right:10px" title="Apply">Apply</button>
						<button name="submit" type="button" [disabled]="applyFiltBtn === false" (click)="resetf()"  class="flat-button" style="margin-right:10px;background: #f0ad4e;" title="Clear">Clear</button>
					</div>
				</div>
			</div>

			<div class="row white apply-delete-space">						
				<div class="col-xs-6" [class.invisible]="pager.totalPages<=1">
					<ul *ngIf="pager.pages && pager.pages.length" class="pagination ULpageOf pull-left">
						<li [ngClass]="{disabled:pager.currentPage === 1}">
							<a (click)="setPage(pager.currentPage - 1)">Previous</a>
						</li>
						<li>
							<span class="pageOf">Page {{pager.currentPage}} of {{pager.totalPages}}</span>
						</li>
						<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
							<a (click)="setPage(pager.currentPage + 1)">Next</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-6" [class.invisible]="pageCount<1">
					<label class="pull-right" style="margin:15px 10px 0 0;font-weight: bold;">( {{pageCount}} - Contracts Found )</label>	
				</div>

				

			</div>
			<div class="row white">
				<div class="p-table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th><b>Contract #</b></th>
								<th><b>Contract Date</b></th>
								<th><b>Price</b></th>
								<th class="text-center"><b>View</b></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="pagedItems.length <1">
                               <td colspan="8"><h4 style="padding: 15px 0;background:aliceblue;color: steelblue;text-align: center;">----No Contracts To List----</h4></td>                        
                            </tr>
							<ng-container *ngFor="let cnt of (pagedItems)">
								<tr *ngIf="cnt.show === true">
									<td data-label="Contract #">{{cnt.anum}}-{{cnt.asuf}}</td>
									<td data-label="Contract Date">{{cnt.date}}</td>
									<td data-label="Total Cost">{{cnt.ccst|currency}}</td>
									<td data-label="View" class="text-center">
										<a class="btn btn-primary btnedit" target="_blank" href="http://reports.inds.com/Auto/Decpage.asp?d={{pagedata.head.currdlr}}&n={{cnt.anum}}&s={{cnt.asuf}}"><i style="font-size:17px" class="fa fa-file-pdf-o"></i></a>									</td>
								</tr>
							</ng-container>
						</tbody>
					</table>
				</div>
			</div>


		</form>
	</div>
</section>

<app-footer></app-footer>