<app-header [headdata]="pagedata.head"></app-header>

<section class="flat-row section-iconbox">
	<div class="container" [ngClass]="{'hidden':pagedata.head.status!=='I'}">
		<div class="row">
			<div class="col-xs-12" style="z-index:1">
				<div class="title-section style3 left">
					<h1 class="title">ACH Cancellation Report</h1>
				</div>
			</div>
		</div>

		<form class="contactform style4 clearfix panel-body" method="post" autocomplete="off">
			

			
			<div class="row white" style="min-height: 600px">
					<div class="col-md-6 col-md-offset-3" style="margin-top:10px;">
							<label class="flat-input inputlabel">Date Processed:
								<span class="errorspan2" [class.opqquezero]="period.message===''" [class.alert-danger]="period.erlevel==='D'"  [class.validating]="validating">{{period.message}}</span> 
							</label>
							<span class="flat-input">
								<select *ngIf="pagedata.rows" autocomplete="new-password" class="form__select" name="period"  [class.validating]="validating"  (change)="onChangeDrop()" [(ngModel)]="period.value">
									<option value="" >List All</option>
									<ng-container *ngFor="let option of pagedata.rows">
										<option  [value]="option.dat1" *ngIf="option.show=='T'" >{{option.dat1.substring(4,6)+'/'+option.dat1.substring(6,8)+'/'+option.dat1.substring(0,4)}}</option>
									</ng-container>
								</select>
							</span>
						</div>
					<div class="col-xs-12"><hr></div>
					<div class="col-xs-12" style="margin-top:15px">
							<table class="table">
									<thead>
									  <tr>
										<th style="font-weight: bold">Date Processed</th>
										<th style="font-weight: bold">Contract #</th>
										<th style="font-weight: bold">First Name</th>
										<th style="font-weight: bold">Last Name</th>
										<th style="font-weight: bold">Cancel Fee</th>
										<th style="font-weight: bold">Refund %</th>
										<th style="font-weight: bold" class="text-right">Paid Amount</th>
									  </tr>
									</thead>
									<ng-container *ngFor="let row of pagedata.rows">
											<tr class="{{row.cls}}" *ngIf="row.show!=='T' && (row.dat1 == period.value || period.value=='') " >
													<td>{{row.dat1.substring(4,6)+'/'+row.dat1.substring(6,8)+'/'+row.dat1.substring(0,4)}}</td>
													<td>{{row.anum}} - {{row.asuf}}</td>
													<td>{{row.ofn}}</td>
													<td>{{row.oln}}</td>
													<td>{{row.cfee | currency }}</td>
													<td>{{row.refp}}%</td>
													<td class="text-right">{{row.pamt | currency }}</td>
											</tr>
											<tr  class="{{row.cls}}" *ngIf="row.show=='T' && (row.dat1 == period.value || period.value=='') ">
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td style="font-weight: bold">Total ({{row.dat1.substring(4,6)+'/'+row.dat1.substring(6,8)+'/'+row.dat1.substring(0,4)}}):</td>
													<td style="font-weight: bold"class="text-right">{{row.pamt | currency }}</td>
											</tr>

									</ng-container>
									
						    </table>
					</div>

			</div>


		</form>
	</div>
</section>

<app-footer></app-footer>