<app-header [headdata]="pagedata.head"></app-header>
<section class="flat-row section-iconbox">
<div class="container invisible" [ngClass]="{'visible':pagedata.head.status==='I'}">                                                                           
        <div class="dealparent" style="padding-top:25px">                                                                             
           <!--<img src="assets/images/welcome1.png" >-->
           <h1 style="margin:5px 20px;text-transform: capitalize;">Welcome {{this.pagedata.head.fnam}}!</h1>
           <div class="dealerblock" *ngIf="this.pagedata.home.name">
              
              <h3>{{this.pagedata.home.name}}</h3>
              <p>{{this.pagedata.home.add1}}</p>
              <p>{{this.pagedata.home.add2}}</p>
              <p>{{this.pagedata.home.city}}, {{this.pagedata.home.st}} {{this.pagedata.home.zip}}</p>

              <div class="agentblock" *ngIf="this.pagedata.home.aname!==''" >
                <h3>YOUR AGENT</h3>
                <p>{{this.pagedata.home.aname}}</p>
                <p>{{this.pagedata.home.aadd1}}</p>
                <p>{{this.pagedata.home.aadd2}}</p>
                <p>{{this.pagedata.home.acity}}, {{this.pagedata.home.ast}} {{this.pagedata.home.azip}}</p>          
                <p *ngIf="this.pagedata.home.aphn1!==''">{{this.pagedata.home.aphn1}}</p>        
             </div>  
                               
           </div>  
           <div class="dealerblock" *ngIf="this.pagedata.head.currdlr ==''">
             <h3>No location selected !</h3>
           </div> 
           
           </div>                                                                                                                                                                        
</div>
</section>  
<app-footer></app-footer> 
