<app-header [headdata]="pagedata.head"></app-header>
<section class="flat-row section-iconbox">
    <div class="container" [ngClass]="{'hidden':pagedata.head.status!=='I' || noAuth}">
        <div class="row">
            <div class="col-xs-12" style="z-index:1">
                <div class="title-section style3 left">
                    <h1 class="title">Contract Types Maintenance</h1> 
                </div>
            </div>
        </div> 
        <div class="row white"> 

            <form *ngIf="selectedRec" class="contactform style4 clearfix panel-body" method="post" style="display:none" (submit)="checkData()"
                id="topform"  autocomplete="off">
                <div class="col-md-12">
                    <h2>{{modebtn}} Contract Type</h2>
                    <div class="alert alert-success" [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='S'}" role="alert">{{dispAlert.message}}</div>
                    <div class="alert alert-danger"  [ngClass]="{'hidden':dispAlert.message==='' || dispAlert.status!=='E'}" role="alert">{{dispAlert.message}}</div>
                </div>
                <div class="col-sm-6">
                    <label class="flat-input inputlabel"><span class="req">*&nbsp;</span>Code
                        <span class="errorspan2" [class.opqquezero]="code.message===''" [class.alert-danger]="code.erlevel==='D'"  [class.validating]="validating">{{code.message}}</span> 
                    </label>
                    <div class="flat-input w100">
                        <input autocomplete="new-password" style="text-transform: uppercase;" id="code" name="code" type="text" placeholder="Code" [class.required]="code.message !==''"  [class.validating]="validating" [(ngModel)]="selectedRec.code" maxlength="30" (change)="onChange()">
                    </div>
                    <label class="flat-input inputlabel"><span class="req">*&nbsp;</span>Program
                        <span class="errorspan2" [class.opqquezero]="prgm.message===''" [class.alert-danger]="prgm.erlevel==='D'"  [class.validating]="validating">{{prgm.message}}</span> 
                    </label>
                    <span class="flat-input">
                    <select  autocomplete="new-password" class="form__select" name="prgm" id="prgm" [(ngModel)]="selectedRec.prgm" [class.required]="prgm.message !==''"  [class.validating]="validating"  (change)="onChange()">
                        <option value="">Select</option>
                        <option *ngFor="let optn of pagedata.programs.plans" [value]="(optn.prg.padEnd(10)+optn.ratc).trim()" [attr.selected]="(optn.prg.padEnd(10)+optn.ratc).trim()==selectedRec.prgm ? true : null">{{optn.desc}}</option>
                    </select>
                    </span>

                   
                    <label class="flat-input inputlabel"><span class="req">*&nbsp;</span>Category
                            <span class="errorspan2" [class.opqquezero]="catg.message===''" [class.alert-danger]="catg.erlevel==='D'"  [class.validating]="validating">{{catg.message}}</span> 
                    </label>
                    <span class="flat-input">
                        <select  autocomplete="new-password" class="form__select" name="catg" id="catg" [(ngModel)]="selectedRec.catg" [class.required]="catg.message !==''"  [class.validating]="validating"  (change)="onChange()">
                            <option value="">Select</option>
                            <option *ngFor="let categ of pagedata.categories" [value]="categ.key" [attr.selected]="categ.key==selectedRec.catg ? true : null">{{categ.desc}}</option>
                        </select>
                    </span>
                </div>
                <div class="col-sm-6">
                    <label class="flat-input inputlabel"><span class="req">*&nbsp;</span>Description
                        <span class="errorspan2" [class.opqquezero]="desc.message===''" [class.alert-danger]="desc.erlevel==='D'"  [class.validating]="validating">{{desc.message}}</span> 
                    </label>
                    <div class="flat-input w100">
                        <input autocomplete="new-password"  name="desc" type="text" placeholder="Description" [class.required]="desc.message !==''"  [class.validating]="validating" [(ngModel)]="selectedRec.desc" maxlength="100"  (change)="onChange()">
                    </div>
                    <label class="flat-input inputlabel"><span class="req">*&nbsp;</span>Value
                            <span class="errorspan2" [class.opqquezero]="valu.message===''" [class.alert-danger]="valu.erlevel==='D'"  [class.validating]="validating">{{valu.message}}</span> 
                    </label>
                    <div class="flat-input w100">
                        <input autocomplete="new-password" name="valu" type="number" placeholder="Value" [class.required]="valu.message!==''"  [class.validating]="validating"  [(ngModel)]="selectedRec.valu" maxlength="10"  (change)="onChange()">
                    </div>
                    <p style="font-size:12px;margin-top:-10px">(Percentage: 0.10 is 10%, 1.00 is 100%, 1.5 is 150%, etc.)</p>
                    
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 hidden-xs">
                    <p class="pull-left"><span class="req">*&nbsp;</span>Denotes required fields.</p>
                    <span class="flat-input">
                        <button name="submit" type="submit"  class="flat-button pull-right saveUser" style="margin-right:10px" title="{{modebtn}} User">{{modebtn}} Contract Type</button>
                    </span>
                    <span class="flat-input">
                        <button [class.hidden]="selectedRec.mode!=='SAVE'" name="submit" type="button" (click)="delete()" class="pull-right btn-danger" style="margin-right:10px"
                            title="Delete">Delete</button>
                    </span>
                    <span class="flat-input">
                            <button name="submit" type="button" (click)="cancel()" class="pull-right btn-warning" style="margin-right:10px"
                                title="Cancel">Cancel</button>
                    </span>
                </div>
                <div class="col-md-12 hidden-sm hidden-md hidden-lg">
                        <p class="pull-left"><span class="req">*&nbsp;</span>Denotes required fields.</p>
                        <span class="flat-input">
                            <button name="submit" type="submit"  class="flat-button btn-block saveUser" style="margin:0" title="{{modebtn}} User">{{modebtn}} Contract Type</button>
                        </span>
                        <span class="flat-input">
                            <button [class.hidden]="selectedRec.mode!=='SAVE'" name="submit" type="button" (click)="delete()" class="btn-danger btn-block" style="margin:5px 0"  title="Delete">Delete</button>
                        </span>
                        <span class="flat-input">
                                <button name="submit" type="button" (click)="cancel()" class="btn-warning btn-block" style="margin:5px 0"  title="Cancel">Cancel</button>
                        </span>
                    </div>
                <div class="w100 pull-left">
                    <hr>
                </div>
            </form>
            <form class="contactform style4 clearfix panel-body " method="post"  autocomplete="off">
                <h2 class="pull-left">Contract Types</h2>
                <a href="javascript:void(0)" name="submit" class="flat-button pull-right" title="New Contract Type"
                    (click)="addRecInit()" id="addnewb">New Contract Type</a>
                <div class="p-table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <b>Code</b>
                                </th>
                                <th>
                                    <b>Description</b>
                                </th>
                                <th>
                                    <b>Category</b>
                                </th>
                                <th>
                                    <b>Value</b>
                                </th>
                                <th>
                                    <b>Program</b>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="pagedata.contracts && pagedata.contracts.length <1">
                                <td colspan="8"><h4 style="padding: 15px 0;background:aliceblue;color: steelblue;text-align: center;">----No Contract Types To List----</h4></td>                        
                            </tr>
                            <tr *ngFor="let cont of pagedata.contracts">
                                <td data-label="Code">{{cont.code}}</td>
                                <td data-label="Description">{{cont.desc}}</td>
                                <td data-label="Category">{{cont.catgd}}</td>
                                <td data-label="Value">{{cont.valu | number:'1.2-2'}}</td>
                                <td data-label="Sub LOB">{{cont.prgmd}}</td>
                                <td data-label="">
                                    <a href="javascript:void(0)" (click)="onSelect(cont)" class="btn btn-warning btnedit">Edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</section>
<app-footer></app-footer>